[2013-06-14 12:12] ericvrp opened #1 "GPIO.setmode(x) missing"
GPIO.setmode(x) is missing. It should be either a dummy function or it should do something meaningful.

Currently when 'P8_10' or 'GPIO0_10' is for instance used. with GPIO.setmode(BOARD or BCM) the additional syntax of using integer 10 could be mapped to either P8_10 or GPIO0_10 .

[2013-06-14 12:14] ericvrp opened #2 "Support more Linux distributions"
My current favorite is Ubuntu 13.04 but Arch and Debian come to mind too.

[2013-06-14 12:17] ericvrp opened #3 "Device Tree Overlays failures?"
The test below fails on Ubuntu 13.04 (Linux bbb1 3.8.12-bone17 #1 SMP Thu May 9 12:04:53 UTC 2013 armv7l armv7l armv7l GNU/Linux) which is at this point not a problem.

I wonder if this has to do with my system being Ubuntu or with the new Device Tree support in the latest distributions?

BTW some good information on http://hipstercircuits.com/capture-input-events-via-gpio-on-beaglebone-black/ and

[2013-06-14 12:23] ericvrp opened #4 "gcc not found (arm-linux-gnueabihf-gcc hardcoded?)"
'sudo python setup.py install' works fine on Ubuntu 13.04 (after installing gcc). However, gcc was not automatically found. It looks like arm-linux-gnueabihf-gcc is hardcoded instead.

Doing an 'alias arm-linux-gnueabihf-gcc=gcc' fixed the problem.

[2013-06-25 17:06] #4 closed, assigned to nobody

[2013-06-26 15:32] #1 closed, assigned to nobody

[2013-06-26 19:34] #2 closed, assigned to nobody

[2013-06-30 21:32] fabiengagne opened #5 "Internal pull down resistors are always enabled"
The parameter "pull_up_down" to GPIO.setup() has no effect. The mode of the input pins always remain set to pull-down mode.

This can be observed by connecting a 100k ohm resistor to 3.3V and the other end to an input pin, such as P8_16.

If the internal pull down is disabled (by specifying pull_up_down=GPIO.PUD_NONE), a voltmeter on P8_16 should read close to 3.3V. However, the voltage is signifi

[2013-06-30 23:23] jwcooper opened #6 "PWM not starting"
I have just installed Adafruit BBIO per your tutorial. GPIO works great in a simple test. however, no luck with the PWM routines. When I enter the PWM start code (from the tutorial)
PWM.start("P9_14", 50)
I get no errors thrown, but no waveform on my 'scope on P9 pin 14.
When I add
PWM.set_frequency("P9_14",100)
I get the error "runtime error: you must start() the PWM channel first."
This doesnt m

[2013-07-01 16:03] guilhermearaujo opened #7 "PWM duty cycle is inverted"
I am using BBIO with Angstrom and the original BeagleBone (white).
Every time I set a PWM duty cycle to a value x, the output duty cycle is actually (100% - x). For instance, if I set to 25%, I get 75%.

[2013-07-03 01:44] #6 closed, assigned to nobody

[2013-07-03 16:53] nicokaag opened #8 "Installation doesn't work on Ubuntu"
I tried installing the newest version on ubuntu today, and got multiple errors.

I got the following error:

After removing the @ option from the overlays/builder.py I got the error:

uname -a outputs:

Anything i'm doing wrong, or is the install just not compatible with ubnutu (yet)?

[2013-07-03 17:04] #8 closed, assigned to nobody

[2013-07-07 20:13] korylprince opened #9 "Segfault after many analog reads"
If I run the following code:

[code]

Then the code consistently segfaults after printing 1020. Adding a `time.sleep(.01)` to the loop doesn't fix it.

I'm running on arch. The PyBBIO library does not have this issue (after fixing their code to get around a pwm issue), so I know the operating system is capable of reading that fast (or that many times.)

Here is a backtrace with gdb:

[code]

[2013-07-08 16:08] jwcooper opened #10 "Write python3 tests"

[2013-07-09 16:58] sJohnsonStoever opened #11 "ADC Sample limit"
I [posted to the adafruit forums](http://forums.adafruit.com/viewtopic.php?f=49&t=41357&p=206329#p205903) but I thought this might be the more appropriate venue.

I've been taking analog samples from an electret microphone and can't ever take more than 1020 samples before whatever python script I'm running exits without an error message. I don't even need to save the samples or output them, just a

[2013-07-09 20:15] #9 closed, assigned to nobody

[2013-07-09 20:16] #11 closed, assigned to nobody

[2013-07-11 11:58] mrichardson23 opened #12 "Using an int for PWM.set_duty_cycle returns unclear error"
With the following code:

[code]

PWM.set_duty_cycle expects a float for the duty cycle value. If you pass an int, the error message is unclear:

[code]

Suggested solution: handle ints as well as float values, or make the error clearer that the function expects a float value, not integer.

[2013-07-13 01:12] ajmachan opened #13 "Not accessing correct GPIO pins?"
I am having a problem with a few pins (P8_07 through P8_10) at this time.  I am able to setup the pins as output and set the value high without errors from the code. The problem is that the code is activating the wrong pin! ( I have yet to figure out the location of the pin that is being controlled)

An example is setting up and turning on P8_07 (gpio2_2) exports and controls "gpio0" in the "/sys/

[2013-07-13 13:30] #13 closed, assigned to nobody

[2013-07-15 14:03] ajmachan opened #14 "Getting SegFault when using edge detection callback function"
I am having an issue that I cannot seem to track down.  The test code below simply adds falling edge detection to a pin with a call back function to print out to the command prompt.  The issue is I get a SegFault just after the callback function is executed and I have no clue where to look.  Running a trace it appears to be a stack issue.  Any ideas where the problem is?

Output:
![gdb output](htt

[2013-07-18 21:22] #14 closed, assigned to nobody

[2013-07-26 18:36] #12 closed, assigned to nobody

[2013-07-27 21:29] mrichardson23 opened #16 "Detecting Interrupts and Distinguishing between Rising and Falling"
Considering the following code, in which we're looking for rising or falling on an interrupt:

[code]

Is there a way to distinguish whether rising or falling happened (rather than just "event")? So that I could print "the button was pressed" or the "the button was released" when appropriate?

[2013-07-29 00:08] bradfordboyle opened #17 "Raise IOError exception when fopen fails"
On Debian 7.1, `/sys/devices/bone_capemgr.9/slots` is owned by root with 644 permissions by default. This means that the call to `fopen` in `load_device_tree()` will fail with _Permission Denied_. In this case, `load_device_tree()` returns -1, presumably as an error indicator. In `initialize_adc()` this check

[code]

will not catch the fact that the call to `load_device_tree()` failed. Even if it

[2013-07-29 20:47] #16 closed, assigned to nobody

[2013-07-30 19:41] #17 closed, assigned to nobody

[2013-07-31 09:12] vmayoral opened #19 "Angstrom: conflict with python-nose"
Hi,

First off, congratulations. This a really and helpful piece of software.
There's a conflict on Angstrom with python-nose, when following the _easy_ installation method. I made it work removing python-nose and following:

[code]

When following the _manual_ installation method:

[code]

Seems to be fine but then:

[code]

It seems that it recognized the _Adafruit_BBIO_ though:

[code]

[2013-08-02 16:50] normaldotcom opened #20 "Python3 Support?"
Does this library support Python3? It's mentioned in the classifiers in the setup.py script, but I'm not sure how to go about installing this library for Python3. I tried running 2to3 on the library followed by an install, but the build was broken (and this is probably a really bad approach!).

[2013-08-02 17:16] #20 closed, assigned to nobody

[2013-08-02 17:20] #19 closed, assigned to nobody

[2013-08-09 08:22] cdesjardins opened #22 "Two tests fail on debian wheezy install from armhf.com"
[code]

I am not using any pwm stuff and don't really have the time to get into it. but I thought I would post these in case someone else wants to fix them.

Thanks,
    Chris Desjardins

[2013-08-10 04:41] Jononomous opened #23 "PWM not able to start channel"
root@ubuntu-armhf:~# sudo python
Python 2.7.3 (default, Apr 10 2013, 09:13:13)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Issue #12 appeared to have the same problem. Unfortunately I am having the same problem running the following distro: ubuntu-precise-12.04.2-armhf-3.8.13-bone20

I installed Adafruit_BBIO via sudo pip install Adafruit_BBIO, so

[2013-08-12 15:56] #23 closed, assigned to nobody

[2013-08-12 15:57] #3 closed, assigned to nobody

[2013-08-12 21:26] #7 closed, assigned to nobody

[2013-08-15 03:24] john-s-lee opened #25 "set polarity function not working"
The pwm_set_polarity function in c_pwm.c is still not working.  At the moment it writes a 0 to the duty file instead of the polarity file.  You need a fd_polarity in your pwm struct and write to that instead.

[2013-08-15 03:55] #25 closed, assigned to nobody

[2013-08-15 18:34] KrisBaumann opened #26 "Memory leak in SPI.readbytes()"
Memory quickly fills when running following code:

import Adafruit_BBIO.SPI
spi = Adafruit_BBIO.SPI.SPI(0,0)
while True:
    spi.readbytes(1)

I do not see the effect with spi.writebytes(). Seen on a Bealebone Black and an up to date Angstrom.

[2013-08-16 14:59] johnnytolengo opened #27 "PWM sine wave"
Hello, I am trying to create sine wave from the PWM (io-python lib), the thing is that I don't know:
1. sample frequency?      (5 Khz?)
2. PWM resolution?         ( 12 bit? )
3. how to mange the interrupts?

Thank you!

[2013-08-16 15:17] #27 closed, assigned to nobody

[2013-08-19 21:38] #26 closed, assigned to nobody

[2013-08-23 14:02] mpastell opened #30 "UART setup fails on Ubuntu"
I installed the library from git to Ubuntu 13.04 from armf (http://www.armhf.com/index.php/boards/beaglebone-black/#raring).

When I try to enable UART1 I get:

[code]

GPIO and ADC's work as documented.

[2013-08-31 03:15] malcolmputer opened #31 "only 5 PWM pins possible at a time"
Using Angstrom, any of the PWM pin pairs (say "9_14" and "9_16") are not available to be used at the same time.

I believe the actual hardware limitation here is that you must use the same frequency on the two pins, but you may have a different duty cycle.

BBIO does not seem to enable the pins even though the hardware should allow it.

This only allows the use of 5 PWM pins at the same time even

[2013-09-01 07:22] SaintGimp opened #32 "Can't add multiple event detections to a single pin"
#16 seems to indicate that this should be possible but it's not working for me.

[code]

I get this result:

[code]

If I comment out either `add_event_detect` the other one works fine.  It just doesn't like setting up both at once.

Running `Adafruit-BBIO (0.0.17)` and `Linux beaglebone 3.8.13 #1 SMP Tue Jun 18 02:11:09 EDT 2013 armv7l GNU/Linux`.

[2013-09-07 23:48] AdrianIRL opened #33 "PWM issues in Ubuntu, bone26 Kernel"
Hi there,

I have successfully been able to play around with servos in Angstrom with the Adafruit_BBIO library on my Beaglebone Black.

However every time I try using it with Ubuntu on my BBB it gives the error
 "RuntimeError: You must start() the PWM channel first"

I am running this Ubuntu: https://rcn-ee.net/deb/flasher/raring/BBB-eMMC-flasher-ubuntu-13.04-2013-08-24.img.xz

This kernel is bone

[2013-09-12 02:10] #30 closed, assigned to nobody

[2013-09-12 02:11] #32 closed, assigned to nobody

[2013-09-16 19:59] noisette opened #34 "UART example does not work under Angstrom latest production image 09/04"
Please verify that the Adafruit_BBIO package still works under the latest released image for Angstrom 09/04. I've installed it according to Adafruit's tutorial, which completes without error. But all of the UART examples given in the tutorial fails to work.

[2013-09-18 19:50] jayventi opened #35 "GPIO example does not working under Angstrom current version"
I cannot get any GPIO lines to toggle nor do I see any changes in slot entries in /sys/devices/bone_capemgr.8/slots or exported PGIO's in /sys/class/gpio/?

I tried
import Adafruit_BBIO.GPIO as GPIO
GPIO.setup("P9_12", GPIO.OUT)
GPIO.output("P9_12", GPIO.HIGH)

However, I can control GPIO 60 P9_12 using a device overlaid I obtained from a tutorial.

If I perform the following I can control GPIO 60

[2013-09-18 20:49] #35 closed, assigned to nobody

[2013-09-20 23:36] olegantonyan opened #36 "GPIO access as user even with rigth permissions to /sys doesn't work"
Hi
My problem is described here http://stackoverflow.com/questions/18926979/beaglebone-black-adafruit-io-python-library-gpio-user-permissions

In short: GPIO works only with root even when all permissions to /sys are OK for user and I can control gpio from user's shell, but not with python.
By experimenting I found that it works if you add delay in event_gpio.c in gpio_export  function after closi

[2013-09-29 19:20] Rob65 opened #38 "SPI.xfer crashes python after 3 calls"
The SPI xfer and xfer2 methods result in a crashing Python.
On the 3rd call to xfer(), no SPI signals are generated and and empty array is returned. A subsequent call will then terminate with a "Fatal Python error" - see attached python output

System is a clean Angstrom release (June 18) with Adafruit_BBIO 0.18
## Rob

Python 2.7.3 (default, May 29 2013, 21:25:00)
[GCC 4.7.3 20130205 (prerelease)

[2013-10-04 08:45] sundaramprasad opened #39 "Adafruit_BBIO.GPIO"
Hello,

after installing this library i am getting this error.

ubuntu@ubuntu-armhf:~/desktop/adafruit-beaglebone-io-python-master$ sudo python test.py
Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import Adafruit_BBIO.GPIO as GPIO
ImportError: No module named GPIO

can anybody help me with this.
I used distribute 0.6.49 for installation.
thanks

[2013-10-04 15:07] #39 closed, assigned to nobody

[2013-10-20 15:30] #36 closed, assigned to nobody

[2013-10-27 12:21] jarkman opened #41 "PWM refuses to start for all pins other than P8_13"
I've been trying to use BBIO to drive three servos. But I am finding (both on the current Angstrom and on Debian Wheezy 7.2) that it will only work on pin P8_13.

If I change the servo.py example to use P8_19, P9_14, or P9_16, I see
RuntimeError: You must start() the PWM channel first

I've installed BBIO with pip install Adafruit_BBIO, and I'm currently testing on Debian from http://rcn-ee.net/de

[2013-11-03 16:41] guilhermearaujo opened #42 "GPIO callback causing segmentation fault"
I am attempting to perform some tasks on a rising edge of the P8 14, but everytime after the callback function ends, there's a segmentation fault and the script stops.

The following counter in incremented, the line is properly printed, but right after that comes the error message.

[code]

[2013-11-11 06:29] asonthy opened #44 "UART example broken with Angstrom"
Here is my Angstrom version .

[root@beaglebone firmware]$  cat /etc/angstrom-version
Angstrom v2012.12 (Core edition)
Built from branch: angstrom-staging-yocto1.3
Revision: 2ac8ed60f1c4152577f334b223b9203f57ed1722
Target system: arm-angstrom-linux-gnueabi

[root@beaglebone firmware]$  cat /etc/dogtag
Cloud9 GNOME Image 2013.09.04

Trying the simple UART1 setup

[root@beaglebone:~# python -c 'impo

[2013-11-11 06:55] #44 closed, assigned to nobody

[2013-11-11 16:24] #34 closed, assigned to nobody

[2013-11-17 12:45] NoobX opened #46 "No PWM working?"
HI JW

Having investigated a bit further, tried a few restarts...
On ubuntu, PWM does not appear to be working:
This is the sort of response I get:

Have you got any tips as to how to get this to work?
I could be doing something wrong -- but I have tried it on a heap of the PWM pins-- and cannot get it working .

THanks
Matt

[2013-11-19 15:11] #46 closed, assigned to nobody

[2013-11-25 17:57] #38 closed, assigned to nobody

[2013-11-26 00:57] RossWilliamson opened #47 "Cannot set spi.lsbfirst"
Setting spi.lsbfirst = True

throws:

IOError: [Errno 22] Invalid argument

You can set spi.lsbfirst = False

[2013-11-30 19:08] nicokaag opened #48 "PWM only works for 2 outputs at once"
I'm trying to get 4 motors running at once with a PWM signal and ESC.
However, i'm unable to get more than 2 motors running at the same time.

Running all the motors separate works fine, also every combination of 2 motors at once. But it doesn't start the 3rd and 4th motor, if I try to set the duty cycle, I get the next error:

[code]

I think something goes wrong with the initialization of the 3r

[2013-12-02 19:18] #48 closed, assigned to nobody

[2013-12-04 23:04] mckeee2 opened #49 "spi readbytes(1) always returns [255] or in hex [0xff]"
Hi,
Sorry if this isnt the correct place for this.  Ive been trying to get api interfaced with an ADC (MCP3008 specifically).  I believe the DT overlay has been correctly applied (Ive follow Robert C. Nelson's blog) and what I've tried in python to read in a value is:

import Adafruit.SPI as spi
obj=spi.SPI(0,0)
obj.readbytes(1)

and invariably get the value 255.  Im at a loss of what Im doing wro

[2013-12-04 23:19] #49 closed, assigned to nobody

[2013-12-10 03:31] maindrive opened #50 "ubuntu install Adafruit_BBIO error"
ubuntu@arm:~$ sudo pip install Adafruit_BBIO
 Downloading/unpacking Adafruit-BBIO
 Downloading Adafruit_BBIO-0.0.10.tar.gz
 Running setup.py egg_info for package Adafruit-BBIO
 The required version of distribute (>=0.6.45) is not available,
 and can't be installed while this script is running. Please
 install a more recent version first, using
 'easy_install -U distribute'.

[2013-12-10 04:14] #50 closed, assigned to nobody

[2013-12-28 14:13] sidechained opened #51 "Calling SPI cshigh method results in exit without warning"
Hi,

See reproducer below. For me, if I comment out the 'print spi.cshigh' line, the routine runs indefinitely, but without it, it exits without warning after 37 iterations. For info, I'm running debian-armhf 3.8.13-bone30 with Adafruit_BBIO-0.0.18.

Any help appreciated!

Regards,
Graham

[code]

[2013-12-29 03:13] #51 closed, assigned to nobody

[2013-12-29 10:41] sidechained opened #52 "SPI writebytes / xfer / xfer2 clocks out arrays of bytes in reverse order"
Just wanted to open this as a separate issue, as I'm experiencing the same behaviour as tweekzilla as mentioned here:

https://github.com/adafruit/adafruit-beaglebone-io-python/issues/47

That is, that executing spi.writebytes([0x44, 0x88, 0xBB, 0xDD]) clocks out in reverse order (i.e. 0xDD, 0xBB, 0x44, 0x88). I can confirm the same behaviour with xfer and xfer2. Is this a problem with the spidev

[2014-01-12 02:33] jiahuang opened #54 "GPIO not able to pull pin high or low"
I'm running ubuntu 12.04 on BBB. Cloned and installed from this repo on build ff6f11abe7864e8db735b359365a85323bff2a06

I can't seem to get the GPIO pins working off of the example code. Here's what I've tried:

[code]

I've also tried using the `GPIO1_6` syntax and got the same results. I've tried on P8_10 and P8_14 as well.

I'm running the script with `sudo python gpio.py`

The pin works if I e

[2014-01-13 04:07] lokarls opened #55 "PWM breaks after working for a moment"
Hello
I'm using this code and the program brakes afer few seconds working.

[code]

it shows that error:
IOError: [Errno 24] Too many open files: '/sys/devices/bone_capemgr.8/slots'

when i delete the last line it works fine, so i don't know why it crashes. hope someone could help me. thanks.

[2014-03-23 21:46] ghost opened #58 "Request for ChipCon SPI Support"
The SPI implementation doesn't support radio chips like the CC2420 or CC2520.

The ChipCon radios/processors use slightly different SPI -- where when the processor clocks in the first byte over MOSI to the radio, the radio returns a status byte over MISO. I.e. byte 0 bit 8 is set on MOSI, SCLK comes high, MISO is read to get byte 0 bit 8 of the status byte, and then SCLK goes low (example at http:

[2014-03-27 04:23] scorpioGusTx opened #59 "reverseByteOrder works on a byte level instead of the word level"
if you feed 255 (which is 0xff and also 0x00ff) to the original method, you will get 0xff back.  To get 0xff00 back, please make the following modification:

def reverseByteOrder(self, data):
    "Reverses the byte order of an int (16-bit) or long (32-bit) value"
    # Courtesy Vishal Sapre
    wordCount = len(hex(data)[2:].replace('L','')[::4])
    val       = 0
    for i in range(wordCount):

[2014-03-27 16:32] #59 closed, assigned to nobody

[2014-03-29 16:24] redFrik opened #60 "spi xfer method with bpw>8 locks the system"
running the latest debian bbb image (bone-debian-7.4-2014-03-27-2gb.img) and an A5C board, the spi xfer method with 12bit wordlength freezes the computer.

debian@beaglebone:~$ sudo python
Python 2.7.3 (default, Mar 14 2014, 17:55:54)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

!!!here the system completely locks up!!!

[2014-04-10 03:38] pjz opened #63 "common.c ; unload_device_tree doesn't initialize ctrl_dir"
...so if you have a python program that just does:

`PWM.stop(..)`

(presumably a different invocation did a `PWM.start(..)`)

then it dies with:
`IOError: [Errno 2] No such file or directory: '/slots'`

.. and, by the by, blames the line _previous_ to the `.stop()` call for the IOError.

[2014-05-23 03:28] #22 closed, assigned to nobody

[2014-05-23 15:10] #63 closed, assigned to nobody

[2014-05-23 19:42] #58 closed, assigned to nobody

[2014-05-23 19:54] #54 closed, assigned to nobody

[2014-05-23 20:04] #42 closed, assigned to nobody

[2014-06-17 19:44] pingswept opened #65 "PWM segfaults with multiple calls to PWM.start()"
This is with version 0.0.20 of the library.

If I execute this script on a Beaglebone Black running Debian:

    import time
    import Adafruit_BBIO.PWM as PWM

    while(1):
        PWM.start("P9_14", 50)
        PWM.start("P9_14", 50)
        time.sleep(5);
        PWM.stop("P9_14")
        time.sleep(5);

the PWM signal looks good for the first 30 seconds (3 loop iterations), and then the scri

[2014-06-17 22:17] aleandros opened #66 "Probem with PWM pairs"
I get a "RuntimeError: You must start() the PWM channel first" whenever I use two "contiguous" PWM pins. For example, If I want to use P9_29 and P9_31, which correspond to EHRPWM0A and EHRPWM0B (or P9_14 and P9_16), I can start them with PWM.start, and I can change the duty cycle of the first one without problems, but when I try to call PWM.set_duty_cycle on the second one, I get the aforementione

[2014-07-02 03:45] larsendt opened #67 "Off-by-one error in PWM"
I realize this is a bit trivial, but I figured I'd put in a bug report at least. The line

https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/c_pwm.c#L204

Should read `new_pwm->key[KEYLEN] = '\0';` (drop the +1)

Cheers!
Dane

[2014-07-21 20:02] poopgiggle opened #68 "Build fails when using Python3"
1. Needed to use 2to3 on setup.py. Maybe have a separate python3 branch?
2. If you compile with -Wformat-security build fails. Just fix the fprintf statements in common.c, nbd.
3. SPI module doesn't build. I only needed GPIO so I just commented it out in setup.py, but you might want to look at it. Error message is as follows:

   o build/temp.linux-armv7l-3.4/source/spimodule.o
   source/spimodule

[2014-07-21 20:11] #68 closed, assigned to nobody

[2014-08-29 00:14] mmabby opened #69 "Board not responding to output commands"
I have set up my BeagleBone Black and followed all the installation steps for the adafruit-beaglebone-io-python.
When trying the "setup" test code in the python shell, the pins to not respond in high or low.

I'm running the following line by line in the shell:

There is no error from the python shell, just no response from the board.

I'd really appreciate any suggestions or help!
Thank you!

[2014-08-29 14:20] #69 closed, assigned to nobody

[2014-09-17 01:30] ChazTuna opened #70 "Segmentation fault on event"
Any help with this?  Here's the gdb bt: (running on BBB, python 2.7.3)

Python setup:
GPIO.add_event_detect(IRQpin, GPIO.RISING)
GPIO.add_event_callback(IRQpin, irqService, 0)

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0xb6b17470 (LWP 12828)]
run_callbacks (gpio=48) at source/event_gpio.c:371
371             if (cb->gpio == gpio)
(gdb) bt
#0  run_callbacks (gpio=48)

[2014-09-26 18:58] RobertCNelson opened #71 "debian: (jessie) gcc-4.9 build fails"
I'm just starting to test the wheezy -> jessie transition for bb.org, gcc-4.9 is a little more picky by default:

https://gist.github.com/RobertCNelson/16d0b162bd6a24b563b9

If you guys needs a jessie armhf porter box just let me know. ;)

Regards,

[2014-10-03 23:24] #67 closed, assigned to nobody

[2014-10-03 23:41] #55 closed, assigned to nobody

[2014-10-04 00:13] #41 closed, assigned to nobody

[2014-10-04 00:27] #33 closed, assigned to nobody

[2014-10-13 04:48] trailhead opened #72 "Events should be non-reentrant"
In the following code, a noisy button press can cause the callback be called once, then interrupted by a second edge and called again.

[code]

Leading to output like this...

[code]

This is not detected as a bounce because in run_py_callbacks the cb->lastcall property isn't set until after the callback returns. At the time of the second call, cb->lastcall is still equal to zero.  This can be wor

[2014-10-13 17:36] #72 closed, assigned to nobody

[2014-10-24 18:53] LuisRT81 opened #73 "problem with the pwm"
When I run my program, to appear me  the follow error :

IOError:[Errno 2] No such file or directory:"/slots"

I have ubuntu 12.04LTS

[2014-10-24 18:53] #73 closed, assigned to nobody

[2014-10-24 18:58] LuisRT81 opened #74 "problems with the pwm"
When I run my program, to appear me  the follow error :

IOError:[Errno 2] No such file or directory: '/slots'

I have Ubuntu 12.04.5 LTS

[2014-10-24 20:27] #74 closed, assigned to nobody

[2014-10-24 21:53] #71 closed, assigned to nobody

[2014-12-08 22:05] asomov opened #77 "Expose platform information"
Implement function similar to BoneScript's  _getPlatform()_

[2014-12-12 16:46] #77 closed, assigned to nobody

[2014-12-28 16:23] brunocannavina opened #78 "On-board LED"
Is there a way to use the on-board led with this library?

[2014-12-29 15:53] #78 closed, assigned to nobody

[2015-02-23 05:37] jstoner commented on #36
Not finding it:

[code]
my /etc/apt/sources.list:
[code]

I can understand pulling images because of the recent glibc hole, but I'm not seeing anything reasonably current here.

[2015-02-23 15:19] RobertCNelson commented on #36
@jstoner You have an older image (/etc/dogtag) my repo and the abilty to install the *.deb as is was added mid August/Sep 2014.  There is no easy way to convert a May 2014 image to this later setup..

Grab a newer snapshot:
http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#Debian_Image_Testing_Snapshots

Regards,

[2015-03-01 07:53] jstoner commented on #36
That didn't exactly work. first I had to go back a few steps from that link and comment out that line in /etc/apt/sources.list, and then I installed the archive-keyring, which was at
[code]
not at the location on the page (that gave me a 404).

then I added the http://repos.rcn-ee.net/debian lines to /etc/apt/sources.list, and then I did
[code]
and when I rebooted I still saw
[code]

I also tried

[2015-03-02 04:07] jstoner commented on #36
and though it does seem to boot, my mac can't seem to mount it, so I can't look in /etc/network/interfaces to see where I should be able to ssh or anything.

[2015-03-02 04:26] RobertCNelson commented on #36
@jstoner please be more specific with your comments.  As image snapshots are built weekly with all the fixes from the week. (updates are uploading as I type)

[code]

The console vs lxde image does load the usb gadget driver differently on bootup.

Documented right here:
https://github.com/RobertCNelson/boot-scripts/blob/master/boot/am335x_evm.sh#L88

lxde: g_mult = g_serial/g_ether/g_usb-flash
co

[2015-03-05 06:08] jstoner commented on #36
OK.... more specific. My intentions first:

I am an application developer, trying to get a BBB configured as something more robust than a hobbyist device. I want to use Debian stable. Right now, I want a Debian that is

* reasonably configured, so I don't have to run my application code as root to be able to speak to devices (which is the requirement that led me here);
* reasonably up to date--inc

[2015-03-05 17:27] jstoner commented on #36
Aaack--reviewing this thread, it looks like the answer is 'start from source, apply the patch, build the image I want, and then try to use it.'

[2015-03-14 13:01] UpolRys commented on #36
Hello Oleg,
First I want to thanks you for your patch, it has really helped me to access GPIO pins as a normal user. I tried your patch on two Beaglebone black boards. On new (zero) beaglebone black (debian, linux 3.8.13-bone-70), I edited the source code of the Adafruit IO library, py_gpio.c as you suggested. And installed adafruit-beaglebone-io-python. Python code I am trying to compile accesses

[2015-05-07 22:02] RobertCNelson opened #80 "v4.1.x + overlay migration notes..."
linux repo: https://github.com/beagleboard/linux/tree/4.1
overlay repo: https://github.com/beagleboard/bb.org-overlays

slots:
[code]

enable/disable cmdline:
[code]

uart:
[code]
edit 1: module name: beaglebone_capemgr -> bone_capemgr

[2015-05-07 22:07] tdicola commented on #80
Oh cool, is that the new mainline support for the bone capemanager with dynamic device tree overlays?  Thanks for the heads up as we'll likely need to make some changes to support it.

Do you have a BBB Debian version with the 4.1 kernel support yet to start testing it out with? :)

[2015-05-07 22:09] RobertCNelson commented on #80
Hi Tony,

Trying to get a *.deb out, but we need to upgrade gcc on:
http://builds.beagleboard.org/builders/build-kernel

I'll post a test *.deb later tonight.

But, v4.1.0-rc3 this weekend will default to it and be in the repo.

btw, feel free to fork the overlay repo and add your guy's *.dts's i'm going to be having that repo installed by default on the bb.org images..

Regards,

[2015-05-07 22:15] RobertCNelson commented on #80
Correct, this is the "new" capemgr panto has been working on getting mainline:

https://github.com/pantoniou/linux-beagle-track-mainline/commits/bbb-overlays

Regards,

[2015-05-07 22:15] tdicola commented on #80
Awesome, thanks for all the work as always to make the latest releases available!  Just curious too, is there any timeline for when you might switch to this 4.1-based kernel as the 'official' Debian release for BBB users?  Want to make sure we can get the fixes in, etc. for it.

[2015-05-07 22:20] RobertCNelson commented on #80
I'd say, just as soon as we test/confrm all these capes:

https://github.com/beagleboard/devicetree-source/tree/master/arch/arm/boot/dts

I've got a lot of them, for some I'll be hitting up ebay!  But I'm trying to get the bb.org community and all downstream v3.8.x users involved.. That way when we switch, everything works 100%!  The lcd's are still going to be a pain thou.

Regards,

[2015-06-02 22:31] JoshKeaper commented on #66
The problem is still there. Sometimes it happens, sometimes not. Start-stop-cleanup-start cycles occasionally help, but more often than not, the only way to get all PWMs up is to reboot and try again.

adafruit-beaglebone-io-python 0.0.30 (previously used 0.0.19, same problem)
Linux version 3.8.13-bone71 (root@a3-imx6q-wandboard-2gb) (gcc version 4.6.3 (Debian 4.6.3-14) ) #1 SMP Tue Mar 17 18:07:4

[2015-06-20 19:52] phrogger opened #82 "The method Adafruit_I2C.reverseByteOrder() in Adafruit_I2C.py is broken"
The method Adafruit_I2C.reverseByteOrder() in Adafruit_I2C.py does not work.

It tries to automatically detect the presence of a 16 bit or 32 bit value
by detecting the first byte containing non-zero bits.  This fails whenever
there are valid leading bytes containing zeros.

--- Graham / KE9H

[code]

Resulting demonstration
Result should equal Value.
Input is the byte reversal of Value, and is co

[2015-06-20 19:55] phrogger commented on #82
Didn't mean to "shout".
The git markdown is interpreting the Python comments as headings, or something.
--- Graham

[2015-06-22 08:38] ivanchou0826 commented on #80
Adafruit-BBIO==0.0.30 support the latest kernel of 4.1.0-rc7-bone7

when I try to use ADC utility, the following error popups, but GPIO utility of the library is okay.
anything wrong?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Unable to setup ADC system. Possible causes are:
  - A cape with a conflicting pin mapping is loaded
  - A device tree object is

[2015-08-05 15:12] shaunmulligan commented on #80
Is there any update on this? I would be very interested in this and willing to help where I can, even if its just to help testing.

[2015-09-08 08:03] mgaggero commented on #80
I had the same issue. The problem seems to lie in the way Adafruit-BBIO library tries to access the adc devices using the old 3.8.x kernels device tree. Few months ago I've submitted a pull request for a patched version of Adafruit-BBIO library that works with the new >=3.14 device tree structure, but so far I've not received any comments. It's just a starting point and it needs further developmen

[2015-09-26 08:22] 10man commented on #80
Hello,
I'm having a tough time getting the capemgr to work on the BBB using the 4.1.8-bone16 kernel. Everything is good out of the box on 3.8.13-bone74, but I was hoping to get an image setup with the later kernel. I'm using Debian 8.2 console (9-20-15) and I require the UARTs. The "update-kernel.sh" script kicks back to the 3x kernel. if I then update the kernel manually the capemgr remains worki

[2015-11-17 20:02] grizmio commented on #80
Maybe it's too late, it has been months since this thread started, but it could help someone like me when i came here the first time.
I'm using https://github.com/adafruit/adafruit-beaglebone-io-python libraries with ubuntu xenial with kernel 4.1.12-ti-r29
and to get ADC working i used this uglies patches:
https://gist.github.com/grizmio/bc752dd070652f21266b#file-gistfile1-txt

Then:
# python -c "

[2015-11-18 07:34] mrandrewandrade commented on #36
I agree on this.We tried the patches and still getting the same error:

    import os
    import sys
    import Adafruit_BBIO.ADC as ADC

    ADC.setup()

RuntimeError: Unable to setup ADC system. Possible causes are:
    A cape with a conflicting pin mapping is loaded
    A device tree object is loaded that uses the same name for a fragment: helper

[2015-11-26 03:41] tiblop opened #84 "gpio not updated"
Hello, I've been trying to use your library on my beaglebone , it works perfectly on almost all GPIO pins, However I have problem with P8_40 and P8_44, P8_32 and P8_42 . setting them up to high or low doesn't affect them at all. I have the last version of beaglebone debian image. I don't know how I can fix this?!
Also you say we can try to control witht the names of the pin instead of the key (P8_

[2015-11-26 06:22] silver2row commented on #84
Hello...

You can try to go to adafruit.com and look up BBIO in their search tab. This will be a very good source on what can and cannot be done while using their system.

Sincerely,

Seth

P.S. If you cannot find the correct info, maybe we can help each other and I can try to solve your questions then.

[2015-11-27 23:47] peidong opened #85 "Python.h in source dir"
Hello, I find it no "Python.h" in [common.c](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L31)

[2015-11-28 19:29] cnobile2012 commented on #85
Mr. Chen,

This is an error you get if you do not have the the Python development
libraries installed on your machine. I don't know what platform you are
using, but the package manager on your system should provide a way to find
the correct package and install it. Then just install and compile the
package again and it should work.

~Carl

On Fri, Nov 27, 2015 at 6:47 PM, Peidong Chen <notification

[2015-12-02 18:46] iandow commented on #80
I'm also having trouble using Adafruit_BBIO on a beagleboneblack running Ubuntu 14.04.3 and kernel 4.1.12.  That patch you referenced looks helpful, but does it require that I recompile my kernel?

Seem strange that I would need to patch and recompile my kernel just to get basic I/O to work.  Might be easier just to revert to default Angstrom, since I don't have a kernel development environment se

[2015-12-02 20:54] grizmio commented on #80
@iandow
There's no need to recompile the kernel, you could just download this repo, apply the changes and then run python setup.py install
Newer kernel versions use different device file paths, so i just fixed those paths, but this just fix ADC support maybe even broking PWM, so PWM should need copy/paste some patch code to get it works too.

[2015-12-08 21:02] Mausy5043 opened #86 "Inconsistent naming of `Adafruit_BBIO` module"
I'm using a BeagleBone Black with pre-installed Debian wheezy.
The problem I had was that in Python I could not import Adafruit_BBIO:
[code]
But `pip` told me it was there:
[code]
**note the minus-sign in the module name i.s.o. an underscore**

So, I uninstalled the module...
[code]
... and had to `rm -rf /usr/local/lib/python2.7/dist-packages/Adafruit_BBIO` and `sudo rm -rf /usr/local/lib/python2

[2015-12-08 21:04] Mausy5043 commented on #86
Addendum:

While `pip` currently still insists the modulename has a minus-sign in it:
[code]

Python is happy to accept the underscore in the name:
[code]

[2015-12-09 01:00] mattmaherpeterson commented on #80
How do apply this patch?  Never done that before?

[2015-12-09 01:02] mattmp commented on #80
How do I apply this patch?

[2015-12-10 11:57] claudiofantacci commented on #80
Hello everyone,

I'm migrating a 3.8 overlay UART + PPS (pulse per second) to kernel 4.1.*-ti + RT, please find attached the dts file of it.

I have edited the **target=<&uart2>** to be **target=<&uart1>**, but I'm not sure whether or not
the *fragment@2* describing the PPS need to be changed as well.
In particular, as far as the PPS uses *GPIO1_16* it seems that **gpios = <&gpio2 16 0>** should a

[2015-12-11 12:16] grizmio commented on #80
Right now i dont have my laptop but if i remeber correctly its something líke
git apply patch_file
Or you can get the repo from @mgaggero

[2015-12-21 20:01] munframed opened #87 "IOError when calling PWM.set_duty_cycle"
Hi,
I saw two related but closed topics on this. I'm using the latest Debian on a BBB, and everything works so far but this. `PWM.start` and `PWM.stop` work, but when I use `PWM.set_duty_cycle`, I get `IOError: [Errno 2] No such file or directory: '/slots'`. I probably should mention that I'm working in puTTY.
Is it about the device-tree-compiler? and if so how to fix it? I did some tests like thi

[2015-12-21 20:14] RobertCNelson commented on #87
First, disable:
[code]
by removing "cape_universal=enable" from /boot/uEnv.txt

You'll need to rebuild "PyBBIO-ehrpwm1-00A0.dtbo" with the dtc found at /usr/local/bin/dtc (this supports 4.1.x)

Then modify the slots location stated here:
https://github.com/adafruit/adafruit-beaglebone-io-python/issues/80

[2015-12-21 20:16] munframed commented on #87
Thank you so much for your prompt reply. Since I'm still a newbe can you explain a bit more about how to rebuild "PyBBIO-ehrpwm1-00A0.dtbo" with the dtc?

[2015-12-21 20:19] RobertCNelson commented on #87
Oh, and "PyBBIO" is actually for:

https://github.com/graycatlabs/PyBBIO

So wrong 'base' project.. I know Alexander is working on v4.1.x changes..

[2015-12-21 22:26] munframed commented on #87
Can it be because `slots` is actually in `/sys/devices/platform/bone_capemgr` instead of `/sys/devices/bone_capemgr.8`? And if so how to fix it?

[2015-12-21 22:29] RobertCNelson commented on #87
The format of the compiled *.dtbo also changed, so even if you echo it to the new location, it won't work..

[2015-12-21 22:32] munframed commented on #87
Gotcha. It was kinda funny to ask that question as it has been addressed in the link you sent. Thanks. Now I don't have that 4th slot and I'm gonna skip the second step you mentioned and try the third. I'll get back to you. Thanks for your replies.

[2015-12-21 22:44] munframed commented on #87
I'm trying to run `dtc`. Does it take too much? as it's stuck there doing nothing. I have these listed
[code]
Should I try the `config-pin`? Should I just stop being impatient?

[2015-12-21 22:53] RobertCNelson commented on #87
/usr/local/bin/dtc is the compiler, you need rebuild PyBBIO-ehrpwm1-00A0.dts..

BTW, you really should create a ticket here:
https://github.com/graycatlabs/PyBBIO/issues

That way you don't spam adafruit/adafruit-beaglebone-io-python
Regards,

[2015-12-21 23:05] munframed commented on #87
I'm sorry I didn't mean to spam, but I'm trying to do this tutorial https://learn.adafruit.com/controlling-a-servo-with-a-beaglebone-black/the-python-console, and it's Adafruit_BBIO and not PyBBIO, and here's where I first found few threads about the exact same issue ( #23, #6, #74 and #46 as examples),   . Should I still go creat a ticket there or I'm in a right place?

[2015-12-21 23:08] RobertCNelson commented on #87
Nope, your in correct place..  Your actually using adafruit's dtbo..

While these are from PyBBIO, (you just had confused me..)
[code]

[2015-12-21 23:25] munframed commented on #87
These are what I have under firmware! and `Adafruit_BBIO` is the only thing I have installed on this BBB.
Anyways, down under `/opt/source/beaglebone-universal-io/` I found a few dts
[code]
Though it might help. It's my last comment unless you need me to do something, this way I spam less :)

[2016-01-03 18:14] pdp7 opened #89 "Unable to control on-board LEDs (USR0-USR3)"
_charlesh-nyc_ reported issue on the Adafruit forum:
https://forums.adafruit.com/viewtopic.php?f=49&t=51906&p=437760#p262314

_cshields_ also reported inability to control the on-board LEDs via Adafruit BBIO:

I was also able to reproduce this issue.

[2016-01-03 18:15] pdp7 commented on #89
I've created Pull Request #88 that adds support for on-board LEDs (USR0-USR3)

[2016-01-03 18:17] pdp7 commented on #78
Please see pull request #88 which adds support for on-board LEDs.

[2016-01-04 04:49] #89 closed

[2016-01-26 13:03] sergiosrl opened #90 "ADC"
Hi. I'm trying to read values from a sensor (analog).
I have a simple code very similar to the one that reads te photoresistor

**test_analog.py**
import Adafruit_BBIO.ADC as ADC
import time

sensor_pin = 'P9_40'

ADC.setup()

while True:
    reading = ADC.read(sensor_pin)
    print('%f ' % (reading))
    time.sleep(1)

I run _root@arm:/home/ubuntu# **python test_analog.py**_ and I get:
Traceback

[2016-01-31 22:09] MrYsLab opened #91 "PWM Driving a Piezo buzzer"
I am trying to drive a piezo buzzer and be able to set the output frequency. Basically I can do that, but when I first do a PWM.start, I always get the same brief tone out.

If I use any of the following 3 lines to start the pwm,

PWM.start("P9_14)

or

PWM.start("P9_14", 0)

or

PWM.start("P9_14", 100)

I get a brief beep and then I can change the frequency.

 I want to suppress that brief beep.

[2016-03-02 04:02] jeffesquivels commented on #90
I'm having this same issue using the latest Ubuntu Snappy image with "classic" mode. This is my kernel version:

[code]

I can confirm GPIO work correctly for me too.

[2016-03-18 01:09] spmaniato commented on #87
@RobertCNelson in your first reply here, you said

In your notes there, I don't see instructions on how to move the location of slots. I'm on `Linux version 4.1.17-ti-rt-r47` and my slots location is: `/sys/devices/platform/bone_capemgr/slots`

What do I need to do in order to to fix the `No such file or directory: '/slots'` error in the original issue? Is it an OS fix or a change to this module's

[2016-03-19 16:04] spmaniato opened #92 "Adafruit_BBIO / I2C open source license question"
Quick question / remark:

The `Adafruit_I2C` Python module imports `smbus` (python-smbus package), which is licensed under GPLv2, since it's based on `i2c-dev`. Doesn't that mean that `Adafruit_BBIO` as a whole has to be licensed under GPLv2 or v3 as opposed to MIT?

To be clear, I'm not criticizing or anything  :smile: I'm just interested in using `Adafruit_BBIO` in proprietary code for commercia

[2016-03-19 16:19] spmaniato commented on #80
Concise instructions (starting from scratch) for people landing here from other issues / webpages:
[code]

[2016-03-19 18:40] ladyada commented on #92
we'll look into it! it may be required to be under GPL, but we're also looking to migrate off of smbus because its not as flexible as we need (no ETA)

[2016-03-21 06:46] KarthikNayak commented on #66
Bumping this problem, still needs to be fixed.

[2016-03-26 12:55] UpolRys commented on #42
I have some kind of similar issue. I hope it will be okey if I reopen this issue. Or should I open another issue?

[2016-03-27 05:43] iamharshit opened #93 "not an issue, but a doubt"
i wanted to read the rpm of my motor using an rpm encoder but that requires the use of timer interrupt and external interrupt ( since an rpm encoder sends a pulsating data ) , but i couldn't a timer and external interrupt in Adafruit library, please guide me where to look at.

[2016-03-30 15:55] jonhp commented on #36
And here we are, March 30, 2016 and mrandrewandrade's comment of Nov 18, 2015 is still valid exactly as he wrote it.
debian 8.3
Linux beaglebone 4.1.15-ti-rt-r43 #1 SMP PREEMPT RT Thu Jan 21 20:13:58 UTC 2016 armv7l GNU/Linux
Will this get fixed ... ever ...?

[2016-03-31 02:42] jonhp commented on #90
I am having the exact same problem on Debian 8.3, Linux beaglebone 4.1.15-ti-rt-r43 #1 SMP PREEMPT RT Thu Jan 21 20:13:58 UTC 2016 armv7l GNU/Linux. Same result run as "root" or "debian".

[2016-03-31 20:59] pdp7 commented on #36
fyi - I believe that ADC error is because of a difference in the way the ADC works in 4.1 kernel. Adafruit_BBIO requires Linux 3.8 kernel:
[Setting up IO Python Library on BeagleBone Black](https://learn.adafruit.com/setting-up-io-python-library-on-beaglebone-black/overview)

I'd recommend using the Debian 7.9 from here which has the Linux 3.8.13 kernel:
http://beagleboard.org/latest-images

[2016-04-08 10:48] julianhille commented on #80
tried it with and without the packes on neweset 8.3 image from BB.org
unable to get the PWM working on my BBB. after patching the errors were gone but still not possible to use the PWMs.

[2016-04-11 22:53] MrBillium commented on #5
Any update on this issue - I would like to avoid using Bonescript to set Inputs to pullup

[2016-04-13 13:46] MrBillium commented on #5
Let me revise my last comment. Bonescript is a really nice way to do this!
As soon as I dug into the code I realized that bonescript creates .dts and .dtbo files on the fly.
So to set P8_14 to input with pullup just go to 192.168.7.2, Bonescript, Pinmode and edit the script to say b.pinMode("P8_14", b.INPUT_PULLUP);
when you run it the BB will set the pin and the overlay is created and compiled as

[2016-04-16 00:08] hoffmanjon commented on #90
I am having the same issue as well, are there any plans to fix this?

[2016-04-27 17:38] jstoner commented on #80
I can say the same. I also did have to monkey with it a bit--Python couldn't find the new egg, so I unzipped it and copied the code to my virtualenv's site-packages.

But yeah, no PWM in Linux 4.1. I'll be switching back to 3.8 til someone gets it to work.

[2016-04-27 22:41] chorca opened #94 "SPI not opening on BBB w/ Debian 4.1 and BB SPI cape"
Installed the library, and am currently loading BB-SPIDEV0 'cape' to enable HW SPI.

When trying to create the spi object, python appears to not be able to find the device?

[code]

[2016-05-05 04:39] SimplicityGuy commented on #94
I'm hitting the same exact thing.

Generally speaking, the instructions for enabling SPI on Debian Jessie with the 4.1 kernel are not very clear. Here's what I managed to cobble together:
[code]

[code]

@chorca is this what you did too?

[2016-05-05 04:42] SimplicityGuy commented on #85
To clarify, you need to do the following:
[code]

[2016-05-05 04:45] RobertCNelson commented on #94
For spi, you need to have them loaded via the kernel parameter in /boot/uEnv.txt

echoing it to the slots while in userspace is too late..

[2016-05-05 04:52] SimplicityGuy commented on #94
I added the following to my uEnv.txt:
[code]
however, I still hit the same issue:
[code]

[2016-05-05 04:58] RobertCNelson commented on #94
The spidev overlays are correctly loaded. The issue is in the adafruit library, probably misreading the status of the slot file.

[2016-05-05 05:02] chorca commented on #94
My SPI overlays are also being loaded in at boot via uEnv.txt.

[2016-05-05 05:29] SimplicityGuy commented on #94
Thanks @RobertCNelson for confirming that the overlay is loaded correctly.

Given the error message it looks like the path is wrong to begin with... Looking at common.c on line 367:
[code]

The initial path should be `/sys/devices/platform`.

Is the path that is there now on line 367 a legacy capemgr path? Or perhaps there should be a symlink to that path?

[2016-05-05 13:06] SimplicityGuy commented on #94
Here's a fix:
[code]

Results:
[code]

I'm going to clean up this fix a bit, since this will not work the for the 3.8 kernel. However, if you want to unblock yourself for now, give this a try. Once ready, I'll issue a PR for the change.

[2016-05-18 10:28] CBXstraight6 opened #98 "Compile issues with pyinstaller"
Trying to compile my code using pyinstaller, which reports & compiles without issue, but when I try to execute / run the compiled code I get this message

Traceback (most recent call last):
  File "Concentrator.py", line 34, in <module>
  File "/tmp/pip-build-e2yxaF/pyInstaller/PyInstaller/loader/pyimod03_importers.py", line 389, in load_module
  File "build/bdist.linux-armv7l/egg/Adafruit_BBIO/UA

[2016-05-26 11:36] GingerMuda opened #99 "Initialising camera prroblem"
Hi,

I am trying to initialize a camera when thee PIR sensor detects motion, see below my code and the error i am getting;
`import cv2
 import Adafruit_BBIO.GPIO as GPIO
 import time

 #create variable called PIR, which refers to the P8_11 pin
 PIR = "P8_11"

 #Initialize the pin as an INPUT
 GPIO.setup(PIR, GPIO.IN)
 GPIO.add_event_detect(PIR, GPIO.RISING)

 #capture from camera at location 0
 ca

[2016-05-28 17:14] cagdaseckin opened #100 "Beaglebone PWM at 50Hz not working (P8_19 P9_16)"
I wrote a code which needs 50Hz PWM. The code is given below. PWM P9_14 ,P9_42 and P8_13 works fine at 50 Hz but P8_19 (also P9_16) doesnt start any dedicated Hz PWM it only works with default. I couldnt find solution. Please help me to find what is the problem?

Pot driven PWM outputs code in Python.

[code]
Error respond with dedicated frequency like below but it start:

[code]
Configuration: Be

[2016-06-01 18:01] ThatSnail commented on #100
Getting a similar problem with the following test case:

    import Adafruit_BBIO.PWM as PWM

    pins = ['P9_21',
            'P9_22']

    for pin in pins:
        PWM.start(pin, 0, 1000)
        print pin, 'set'

    for pin in pins:
        PWM.set_duty_cycle(pin, 0)
        print pin

What version of PWM are you using?

    import Adafruit_BBIO.PWM as PWM
    print(PWM.VERSION)

[2016-06-01 22:02] cagdaseckin commented on #100
Verison : 0.0.20

[2016-06-01 22:36] cagdaseckin commented on #100
I discover that it didnt do same thing in differnt directory.  for example it givers error on /home/debian but it work fine in /home/debian/pb directory. it is happened in same device. Also I tried to do boot code from cron. But when code is in /home/debian/pb  code didnt work properly. It have to read UART but it didnt. Here is my codes

pwmpb.py

[code]

xbeepb.py

[code]

main.py

[code]

[2016-06-01 23:53] ThatSnail commented on #100
With regards to the first problem, I've had some success by running `PWM.start(pin)` on all the PWM pins first, then using `PWM.set_frequency(pin, freq)` and `PWM.set_duty_cycle(pin, duty)` explicitly afterwards.

Example:

    PWM.start("P9_21")
    PWM.start("P9_22")
    PWM.set_frequency("P9_21", 1000)
    PWM.set_frequency("P9_22", 1000)
    PWM.set_duty_cycle("P9_21", 100)
    PWM.set_duty_cy

[2016-06-05 08:55] pdp7 commented on #90
@sergiosrl Support for ADC with Linux kernel 4.1+ has recently been merged: #96

Please re-test and let us know how it worked.

[2016-06-05 09:05] pdp7 opened #103 "Add PWM support for Linux 4.1+"
This library only supports PWM for Linux kernel 3.8.  The way to utilize PWM on the TI AM3358 in newer kernels has changed.

I'm creating this issue to represent the effort add support for newer kernels, notably [4.1](http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#4.1.x-ti) and [4.4](http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#4.4.x-ti) as those are long-term kernels supported by TI

[2016-06-05 09:19] pdp7 commented on #103
BeagleBone Bacon Cape PWM testing with Linux 4.1.15-ti-rt-r43 on Debian Jessie 8.3 from the 2016-01-24 SD card image:

**pwm-test-jessie-4-1.sh**
[code]

**Output:**
[code]

[2016-06-05 09:51] pdp7 commented on #103
This library currently expects to load a device tree overlay for each PWM pin:
[c_pwm.c#L160](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/c_pwm.c#L160)
[code]

The device tree overlay causes a directory in /sys to be created for that PWM pin:
[c_pwm.c#L169](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/c_pwm.c#L169)
[code]

The PWM pi

[2016-06-06 07:04] pdp7 commented on #103
I'm reviewing **Bonescript** by @jkridner to see how it handles PWM on 4.1+ kernels.

The current development branch is: **[bonescript/0.5.x](https://github.com/jadonk/bonescript/tree/0.5.x)**

@MarkAYoder has been several commits this year related to PWM:

- [Starting to fix pwm](https://github.com/jadonk/bonescript/commit/d8a18b3fabd0af72b1295852c809e2f966699e23)
- [Fixed export value. Added com

[2016-06-08 02:29] pdp7 commented on #103
PWM related code from [PyBBIO](https://github.com/graycatlabs/PyBBIO/blob/master/bbio/platform/beaglebone/config.py) by @graycatlabs
[code]

[2016-06-08 08:16] rolandschmidt commented on #94
In the master-branch from 08.06.2016 i just have to change line 346 from
´build_path("/sys/devices", "ocp", ocp_dir, sizeof(ocp_dir));´
to
´build_path("/sys/devices/platform", "ocp", ocp_dir, sizeof(ocp_dir));´
to get the SPI object to work.
Additional code in line 346 like
[code]
could be sufficient for the kernels > 4.1

[2016-06-08 20:27] jstoner commented on #36
Looking at Debian's site, looks like Wheezy went oldstable 04-25-2015, which means it's over a year out of stable status, and is due to exit support soon. Is there any interest in fixing this? Do you really want to force users onto an unsupported Debian release?

https://wiki.debian.org/DebianWheezy
https://wiki.debian.org/DebianReleases

[2016-06-08 22:54] pdp7 commented on #36
ADC support for Debian Jessie (Linux kernel 4.1+) has been merged from #102 by @PeteLawler

I'm noting my progress for PWM support in Debian Jessie in #103

[2016-06-08 22:59] pdp7 commented on #94
@rolandschmidt thanks.  Could you please create a pull request with that fix?

[2016-06-10 00:59] credentiality opened #104 "setup() and output() silently fail"
Wasn't running as root, couldn't figure out why my GPIO.output(...) calls didn't do anything.  Looked in the library code, which doesn't seem to check for errors.  That's bad.

[2016-06-19 21:18] raunaqbhirangi commented on #66
Any updates on this issue? I just can't get around this.

[2016-06-21 20:00] keerthanamanivannan commented on #80
Hi, i'm trying to apply the patch and get the PWM working. But I get this error:

`error: patch failed: source/c_adc.c:30
error: source/c_adc.c: patch does not apply
error: patch failed: source/common.c:361
error: source/common.c: patch does not apply
error: patch failed: source/common.h:39
error: source/common.h: patch does not apply`

 Could you guys resolve it? How to get it working?

[2016-06-21 20:15] pdp7 commented on #80
@keerthanamanivannan I am working on getting PWM in Adafruit_BBIO to work with Linux kernel 4.1+.  I'm keeping track of my progress here: #103

[2016-06-22 01:44] jstoner opened #105 "Can't toggle PWM on and off, won't seem to come back on reliably"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  **INSERT PLATFORM/OPERATING
  SYSTEM HERE**

Beaglebone black
[code]

- Python version (run `python -version` or `python3 -version`):  **INSERT PYTHON
  VERSION HERE**
[code]

- Error message you are receiving, including any Python exception traces:  **INSERT
  E

[2016-06-22 22:00] jstoner commented on #105
This does work:

[code]
Though I still think PWM.stop() should work.

[2016-06-27 08:45] JoshKeaper commented on #66
[These instructions worked for me.](https://randomlinuxhacks.wordpress.com/2014/09/16/changing-pwm-period-on-beaglebone-black/) Note that this includes applying `ti_ehr_pwm.patch` and building the 3.8-rt kernel. It seems to work for some kernel versions (Debian 7.5, `3.8.13-bone50`), but fails for later versions (Debian 7.8, `3.8.13-bone70`). I've also tried [this solution](http://saadahmad.ca/usi

[2016-06-29 16:34] raunaqbhirangi commented on #66
The best and simplest solution to resolve this problem is running it on the default frequency of 2kHz. This seems to work.

[2016-06-29 16:37] JoshKeaper commented on #66
Go ahead and drive some servos with 2 kHz.

[2016-06-30 08:02] pdp7 commented on #66
It looks like this commit may have addressed the issue in the kernel:
[code]

The Python example above does seem to be working in 3.8.13-bone80:
* Repo: http://github.com/RobertCNelson/bb-kernel
* Branch: am33x-v3.8

[2016-07-01 09:00] pdp7 commented on #99
@GingerMuda I think the issue is that:
[code]
should be:
[code]

[2016-07-18 21:44] MatthewWest commented on #103
@pdp7 Any update on progress? I am also available to work on this issue, since my company would like to update to Debian 8, but we need PWM in this library to work.

Also I'm not sure where to ask, but do you have any idea who is responsible for releasing a new package version released with the 4.1+ support?

[2016-07-20 08:03] pdp7 commented on #103
Hi, I've been travelling recently and just getting back to this now.  If we can develop a solution that doesn't cause a regression for 3.8 then it will be merged.  As for PyPi package, I'll have to check with @jwcooper or @tdicola

[2016-07-20 22:56] MatthewWest commented on #103
I thought I'd do a similar summary of how PWM / IO generally works in 4.1+.

# /sys changes
The locations of a number of key pieces of hardware have changed. This is probably the easiest fix to make (and has been mostly made for other pieces of the library).

[code]

# Capes loaded on boot

There are two main changes. First, HDMI and EMMC are no longer virtual capes loaded on boot, but are handled

[2016-07-21 05:12] cocasema commented on #103
@MatthewWest
Just a note, on my bbb with 4.4.12-ti-r30 some pwm path contain '.ecap/pwm'.

[code]

[2016-07-21 12:06] pdp7 commented on #103
@MatthewWest Thank you for the summary and your thoughts.  That is very helpful.  I think you are right that the necessary information for a pin capable of PWM can be borrowed from **[bonescript/src/bone.js](https://github.com/jadonk/bonescript/blob/master/src/bone.js)**

For example, pin `P8_13` has name `EHRPWM2B` at [Line 282](https://github.com/jadonk/bonescript/blob/master/src/bone.js#L282):

[2016-07-26 22:53] MatthewWest opened #107 "New PyPI version needed"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  Arrow BeagleBone Black Industrial, Debian 8.5, Linux kernel 4.4.15-bone11

- Python version (run `python -version` or `python3 -version`): Python 3.4.2

- Error message you are receiving, including any Python exception traces:  None

- List the steps to reproduce

[2016-08-08 19:52] MatthewWest commented on #103
I've implemented a patch which I have confirmed works for Linux 4.1+, though I haven't had a chance to test it with Linux 3.8. The pull request is at #108.

[2016-08-15 19:53] yzhou26 commented on #36
I have been doing ucontroller programming for a while, but mainly at a user level and BBB is relatively new to me. The work is great but I do recommend in  "PyObject *py_read(PyObject *self, PyObject *args)" function, "value=value/1800" should be changed to "value=value/4096" to make the number sensible and consistent with BBB documentation.

[2016-08-20 01:38] pdp7 commented on #103
Resolved by @MatthewWest's excellent work in #108

[2016-08-20 01:39] #103 closed

[2016-08-20 01:40] pdp7 commented on #105
Please try again now that #108 has been merged.

[2016-08-20 01:41] pdp7 commented on #87
Please try again now that #108 has been merged.

[2016-08-20 01:41] pdp7 commented on #91
Please try again now that #108 has been merged.

[2016-08-20 01:42] pdp7 commented on #93
@iamharshit Is this still an issue for you?

If so, please post the code you are trying to get working.

[2016-08-20 01:43] pdp7 commented on #94
There have been several fixes made for Linux 4.1+ support in #108. Please try again now that #108 has been merged.

[2016-08-20 01:46] pdp7 commented on #107
@jwcooper @tdicola: Would either of you be able to handle updating Adafruit_BBIO on PyPi?

https://pypi.python.org/pypi/Adafruit_BBIO/

[2016-08-20 01:57] pdp7 commented on #99
@ladyada @tdicola @jwcooper: no reply in over 1 month.  please close.

[2016-08-20 01:57] #99 closed

[2016-08-20 01:57] pdp7 commented on #100
Please reset now that PWM fixes have been merged in #108

[2016-08-20 01:58] pdp7 commented on #104
There were several improvements for error handling in #108.  Could you please check if this is still an issue?

[2016-08-20 02:10] pdp7 commented on #98
@CBXstraight6  There were several improvement in #108. Please check if this is still an issue.

[2016-08-20 02:12] pdp7 commented on #90
@ladyada @jwcooper: Please close as there has been no response in over 2 months.

[2016-08-20 02:13] pdp7 commented on #86
@Mausy5043 is this still an issue?  Maybe related to #107?

[2016-08-20 02:14] pdp7 commented on #85
@peidong are you still having an issue?

[2016-08-20 02:16] pdp7 commented on #84
@tiblop is this still an issue?

[2016-08-20 02:16] pdp7 commented on #82
@phrogger is this still an issue?

[2016-08-20 02:17] pdp7 commented on #80
@keerthanamanivannan PWM support for Linux kernel 4.1+ has now been merged from #108

[2016-08-20 02:18] pdp7 commented on #80
@RobertCNelson I believe with #96 and #108 now merged, this library works OK with Linux kernel 4.1+.

[2016-08-20 02:18] pdp7 commented on #70
@ChazTuna is this still an issue?

[2016-08-20 02:19] pdp7 commented on #66
@aleandros  There have been several PWM improvements from merged PRs, most recently #108. Please try again and report if this is still an issue.

[2016-08-20 02:20] pdp7 commented on #65
@pingswept  There have been several PWM improvements now merged from #108. Please try again and report if this is still an issue.

[2016-08-20 02:21] pdp7 commented on #60
@redFrik could you please try again with the latest version of adafruit-beaglebone-io-python and the latest Debian Wheezy or Jessie image from: http://beagleboard.org/latest-images

[2016-08-20 02:22] pdp7 commented on #52
@sidechained Could you please try again with the latest version and report if this is still an issue?

[2016-08-20 02:29] #90 closed

[2016-08-20 02:49] pdp7 commented on #47
@RossWilliamson laurent2101: are you still having this issue?

[2016-08-20 02:51] pdp7 commented on #31
@malcolmputer there were several PWM improvements in #108.  Could you please check if this is still an issue with the latest version?

[2016-08-20 02:52] pdp7 commented on #10
@jwcooper Is this still needed?  @matthewwest did some Python3 compatibility in #108

[2016-08-20 02:53] pdp7 commented on #5
@fabiengagne could you please check if this is still an issue in the latest version?

[2016-08-20 04:23] MatthewWest commented on #10
Just to chime in here - it's running fine on either Python 2 or 3. What was being thought of for tests of Python 3 in particular?

[2016-08-20 19:53] Mausy5043 commented on #86
@pdp7 : This isn't an issue for me anymore because I've abandoned the Beaglebone platform in favour of the Raspberry Pi.

 I won't mind if you close this issue.

[2016-08-20 20:05] phrogger commented on #82
Yes.

It also appears in multiple Adafruit python modules.

--- Graham

==

On Fri, Aug 19, 2016 at 9:16 PM, Drew Fustini <notifications@github.com>
wrote:

[2016-08-21 06:26] #86 closed

[2016-08-21 06:33] pdp7 commented on #82
@phrogger Thanks for the update.  Would you be able to create a Pull Request with the fix you suggested?

Thanks,
Drew

[2016-08-21 06:45] pdp7 commented on #82
@phrogger I think this is same issue, right? https://github.com/adafruit/Adafruit-Raspberry-Pi-Python-Code/issues/121

[2016-08-21 14:37] phrogger commented on #82
Yes. Same code, same issue.

I think I have seen it in other places too.

I can generate a pull request for those two classes, but I have no idea
where all the higher level calling methods are that would break when I
split that piece of code into two separate methods, or re-wrote it as a
single method with an additional parameter that tells the method what size
data it is dealing with.

So yes if

[2016-08-21 15:38] pdp7 commented on #82
@phrogger Thanks for explaining.

@jwcooper did comment in [adafruit-beaglebone-io-python/Adafruit_I2C.py](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/Adafruit_I2C.py#L8):

However, it looks `Adafruit_I2C` has now moved to `Adafruit_GPIO` by @tdicola:
[Adafruit_Python_GPIO/Adafruit_GPIO/](https://github.com/adafruit/Adafruit_Python_GPIO/)

`reverseByteOrder()` is located

[2016-08-24 00:01] ChazTuna commented on #70
@pdp7 I implemented another way. Sorry :)

[2016-08-25 14:31] JayWern commented on #60
@pdp7: I have the same Issue. With the latest image (Debian 8.4 2016-05-13) I got the following error now:

[code]
Any idea?

[2016-08-31 22:50] keerthanamanivannan commented on #80
@pdp7 awesome. thanks!

[2016-09-04 09:55] PeteLawler commented on #107
I'd actually nominate this to be called a bug because the README.rst says that the easiest way to install is via 'pip install', but that's not at all the case now as there's been significant changes since the last update to the PyPi.

[2016-09-05 08:30] pdp7 commented on #107
@tdicola @jwcooper: could we please update PyPi with the latest version of `Adafruit_BBIO`?

[2016-09-05 09:44] lromor opened #112 "[feature] Add a get_fd() method"
Hello,
I think it could be interesting to retrieve the file descriptor of a GPIO, mostly for custom python event detects, (for example, asyncio add_reader, select, poll, etc..).

I already added this feature on my fork, but i'm pretty sure it's far from being optimal.

let me know what you think.

-l

[2016-09-06 05:14] pdp7 commented on #112
Please create a pull request and I'll try it out.

[2016-09-07 11:49] fabiengagne commented on #5
I haven't used the beaglebone in quite a while.

[2016-09-19 13:28] zerrcol commented on #80
hi @pdp7 ,

I am working with Linux beaglebone 4.4.21-bone13 . And I have went through the post and several sites. Basically for PWM. But After applying all patches. (and sources from the merged libraries ) I am still not able to load pwm's.
When I do settings in cape manager , then i do sync, after when i reboot.
I always getting warning as
'failed to load cape manager' . So for that My PWM's are

[2016-09-20 04:22] pdp7 commented on #80
@zerrcol Could you please paste the commands and/or code that you are using?

Also, please post output of:
[code]

[2016-09-20 04:49] zerrcol commented on #80
Hi @pdp7 ,
Thanks for replay.
Please check below outputs of commands you suggested.

root@beaglebone:/lib/firmware# cat /sys/devices/platform/bone_capemgr/slots
 0: PF----  -1
 1: PF----  -1
 2: PF----  -1
 3: PF----  -1
 4: P-O-L-   3 Override Board Name,00A0,Override Manuf,BB-UART4
 5: P-O-L-   0 Override Board Name,00A0,Override Manuf,BB-UART5
 6: P-O-L-   1 Override Board Name,00A0,Override Ma

[2016-09-20 06:32] pdp7 commented on #80
@zerrcol I think you'll need to disable `cape_universal` so that it doesn't conflict.

In `/boot/uEnv.txt`, change `cmdline` from:
[code]
to
[code]

You should then be able to load the device tree overlays for PWM.

Alternatively, you could keep `cape_universal` enabled and use the `config-pin` utility to mux the pwm pins.  Check out the [beaglebone-universal-io README](https://github.com/cdsteink

[2016-09-20 06:48] zerrcol commented on #80
hi @pdp7 ,

I have did all the changes described on that link only.
Also I have edited the uEnv.txt as you said. and rebooting the board.
still getting error while applying patches from given link.

error is "
[294.834495]bone_capemgr bone+capemgr :slot #19 : failed toi resilve tree

[2016-09-20 06:50] zerrcol commented on #80
also @pdp7
attaching logs of uEnv.txt

#Docs: http://elinux.org/Beagleboard:U-boot_partitioning_layout_2.0

uname_r=4.4.21-bone13
#uuid=
dtb=am335x-boneblack-emmc-overlay.dtb

##BeagleBone Black/Green dtb's for v4.1.x (BeagleBone White just works..)

##BeagleBone Black: HDMI (Audio/Video) disabled:
dtb=am335x-boneblack-emmc-overlay.dtb

##BeagleBone Black: eMMC disabled:
#dtb=am335x-boneblack-hdmi

[2016-09-21 04:43] zerrcol commented on #80
Hi @pdp7 ,
Have got any solutions for this ?

[2016-09-21 07:33] razerraz commented on #36
My working version for recent kernel (4.7 - Archlinux), allowing "gpio" group members tu use io.
Unfortunatly, it works only if GPIO.setup() is loaded twice for each handled pin.

## Systemd service : /etc/systemd/system/nonroot-gpio.service
[code]

## Related script : /etc/systemd/system/scripts/nonroot-gpio.sh
[code]

## Udev rule : /etc/udev/rules.d/nonroot-gpio.rules
`KERNEL=="gpio*", SUBSYSTE

[2016-09-22 05:34] pdp7 commented on #80
@zerrcol I'd like to get a better understanding exactly of what you are typing and what the output is.

Could you post the entire transcript of the terminal or make screenshots of the terminal?

Is there Python code that you are running before that error occurs?

[2016-09-22 06:02] zerrcol commented on #80
Hi @pdp7 ,
Thanks for the replay. I am following all the steps that are mentioned over the link.
I am using kernel version 4.4.x , So as per the steps I am applying them on respective directory.
Not doing /running anything else.
I will record the terminal activity and ll post.

[2016-09-22 06:12] pdp7 commented on #80
@zerrcol are you trying to apply the patch that @grizmio created?

PWM support for Linux kernel 4.1+ has now been merged from #108.  Have you installed the latest version of this repo on your BeagleBone?

[2016-09-22 11:49] zerrcol commented on #80
Yes @pdp7 ,
I am doing that only.

[2016-09-22 16:42] pdp7 commented on #80
@zerrcol Have you installed the latest version of `Adafruit_BBIO` from `master` branch of this repo?

No patches should be necessary anymore.  Linux 4.1+ support has been merged into `master`:
* PWM support merged from #108 by @MatthewWest
* ADC support merged from #96 by @PeteLawler

[2016-09-22 17:35] sohotaling opened #114 "PWM Initialization Produces RuntimeError: Problem with cape manager"
I'm using a BeagleBone Black to control a stepper motor, three limit switches, a relay, and a touchscreen (4D Systems 70T, see [](http://www.4dsystems.com.au/productpages/4DCAPE-70T/downloads/4DCAPE-70T_datasheet_R_1_3.pdf)). Although the LCD touchscreen is a cape, plugging into all 46 pins, I've used an Adafruit proto-cape, a pair of stacking headers, and some rudimentary soldering (see images be

[2016-09-23 04:38] zerrcol commented on #80
hi @pdp7 ,

I have downloaded adafruit bbio only from master. and directly I am using that only. No separate patches That I am using.

[2016-09-23 05:40] pdp7 commented on #80
@zerrcol Ah ok, that is good to know.

You previously wrote that you were trying to load PWM and saw this error:
[code]

Does that occur during bootup?

I'd suggest commenting out the  `cape_enable=` line in `/boot/uEnv.txt`:
[code]

Then try loading those capes individually from the command line.  Please copy and paste the contents of your terminal after doing that, including any errors from `dme

[2016-09-23 06:27] zerrcol commented on #80
@pdp7
Yes That occurred during boot up
And If i comment out that line in uEnv.txt. that uart and other peripherals ,I think will not work good.??

[2016-09-23 07:48] pdp7 commented on #114
I'm wondering where the source for device tree overlay comes for the 4D LCD cape that is being loaded:
[code]
I'd like to determine if this is it:
https://github.com/beagleboard/bb.org-overlays/blob/master/src/arm/BB-BONE-LCD7-01-00A3.dts

Could you go through the install steps for bb-overlay?
https://github.com/beagleboard/bb.org-overlays

[2016-09-23 17:23] sohotaling commented on #114
I already had Robert C Nelson's bb.org-overlays installed. Reinstalled, rebooted. Tested PWM with and without LCD touchscreen, tested with and without BB-PWM2 echoed to /sys/devices/platform/bone_capemgr/slots. Same results as before.

[2016-09-23 18:32] pdp7 commented on #80
@zerrcol The reason I think it would be good to comment out `cape_enable` is so that the results can be observed of loading each cape individually from the command line.

[2016-09-24 03:20] xiiihyou13 commented on #114
I'm having the exact same problem. I have no cape attached (bare beaglebone black), only PWM gives out this error.

[2016-09-28 00:56] pdp7 commented on #114
@sohotaling @xiiihyou13
I think it would be useful to learn more about what happens when attempting to execute `PWM.start()`. @MatthewWest had used this method successfully to debug `Adafruit_BBIO` issues in the past.

Run the following commands, and paste the output (`trace.txt`) into a [gist](https://gist.github.com) for me to look at:

[code]

[code]

Then upload the contents of `trace.txt` int

[2016-09-28 04:27] xiiihyou13 commented on #114
@pdp7 I'm not quite familiar with github. is this correct? https://gist.github.com/xiiihyou13/e3caa6f5921bc633167261940eda8fe4#file-trace-txt

[2016-09-28 13:50] kozga opened #115 "SPI: IOError: [Errno 22] Invalid argument in xfer and xfer2 functions"
Beagle Bone Black with kernel 4.4.8.

Simple script:
[code]

Result:
[code]

The cause of this error is uninitialised spi_ioc_transfer structure. After initializing struct in xfer2 and changing malloc to calloc in xfer, functions work as expected.

[2016-09-28 20:55] sohotaling commented on #114
@pdp7 @MatthewWest I've used strace and the first two lines of Python commands above, as well as [defunkt](http://defunkt.io/gist/)'s handy [gist](https://github.com/defunkt/gist) command to generate then upload some txt files. They can be found in [my gist repo](https://gist.github.com/sohotaling). Both tests were run with my `/sys/devices/platform/bone_capemgr/slots` empty, and no capes plugged

[2016-09-29 04:24] pdp7 commented on #115
@kozga  Thanks for reporting this.

Does that mean that you've been able to create a fix?

If so, could you please create a pull request so that I can review?

thanks

[2016-09-29 07:04] pdp7 commented on #114
@sohotaling Those `ENOENT` errors are normal.  However, I should have asked you to run strace with the option to follow child processes.

Please run this:
[code]
Then enter this:
[code]

[2016-09-29 07:06] pdp7 commented on #114
@xiiihyou13

Could you please specify which image and kernel  your BeagleBone is running?
[code]

I've recently published Adafruit_BBIO v1.0.0 to PyPi.  Pleas update to make sure you are using it:
[code]

Finally, I should have asked you to run strace with the option to follow child processes.

Please run this:
[code]
Then enter this:
[code]

[2016-09-29 13:53] sohotaling commented on #114
@pdp7 Double-checked to ensure that Adafruit_BBIO was version 1.0.0 and not 0.0.30. Re-ran
`strace -f -o xxx.txt python

PWM.start('P8_13', 50, 1000, 0)`

Results found in [my gist](https://gist.github.com/sohotaling/fb8dcf90a4da2f4c53902751ab67de9d).

[2016-09-29 14:26] MatthewWest commented on #114
Relevant part of the gist starts at line 2122.

[2016-09-29 14:29] MatthewWest commented on #114
Just kidding,  all the lines start with the same number. The `gettimeofday` command is the beginning of the important section.

[2016-09-30 03:16] SforSwordfish commented on #114
I am having the same problem on my beagle bone green wireless. What I am currently running:

BeagleBoard.org Debian Image 2016-09-18
8.6
Linux beaglebone 4.4.21-ti-r45 #1 SMP Fri Sep 16 23:35:29 UTC 2016 armv7l GNU/Linux

I will experience the problem. However, I can connect to my BB through the access point via WIFI. The lights on the board will go from "dancing" in unison to D4 being lit and D2

[2016-09-30 07:45] kozga commented on #94
In version 1.0 declared path length is too low (50 bytes)

[code]
But for kernels 4.1 path length is 54 bytes:
[code]
In result, path is shortened to '/sys/devices/platform/ocp/48030000.spi/spi_master/'  and function always return 1, even if you try to open /dev/spidev2.x.

[code]

[2016-10-02 05:34] PeteLawler commented on #107
It'd appear this has been achieved since bc373997aaecfffd4449a789e2bf09a38a70eba3 - with https://pypi.python.org/pypi/Adafruit_BBIO/1.0.0 becoming available.

[2016-10-05 00:49] pdp7 commented on #107
Yeah, I published v1.0.0 last week.  Thanks for the reminder,.

[2016-10-05 00:49] #107 closed

[2016-10-05 00:52] pdp7 commented on #114
@MatthewWest I see several instances of `gettimeofday` in that gist.  Was there a particular one that you are referring to?

[2016-10-05 00:52] pdp7 commented on #112
@lromor thanks for the PR. Is there a test that could be added for this in tests?

[2016-10-05 17:01] pdp7 opened #117 "SPI Problems in Python on Adafruit_BBIO-1.0.0"
From Adafruit forum post:
**[SPI Problems in Python on Adafruit_BBIO-1.0.0](https://forums.adafruit.com/viewtopic.php?f=49&t=104291#p522124)**

written by mrburns42:

[2016-10-05 17:04] pdp7 commented on #117
@MatthewWest Any thoughts on this issue?  Thanks!

[2016-10-05 17:16] RobertCNelson commented on #117
@pdp7 i've noticed spidev is broken on v4.4.x, remove the edma fix that made things work in v4.1.x:

https://github.com/RobertCNelson/dtb-rebuilder/blob/4.4-ti/src/arm/am335x-boneblack.dts#L12

Regards,

[2016-10-05 17:21] MatthewWest commented on #117
@pdp7 I basically didn't make any changes to the SPIDEV code and don't have a working understanding of how it works at the moment. Also I don't have the bandwidth during an academic term to deal with it, sorry.

[2016-10-05 20:34] mrburns42 commented on #117
Here is my simple SPI test code.  With nothing attached to the BBB, it should run without error and it should printed read values of  0xFF.  At least that is the behavior on 3.8.   On 4.4,  it prints out an error message.   You have to disable the universal cape before running this.
`#!/usr/bin/python
from Adafruit_BBIO.SPI import SPI
import time

spi = SPI(0,0)	#/dev/spidev1.0

#Set the maximum c

[2016-10-10 13:11] dengber opened #118 "Problem when PWM start in different frequencies"
Hello,
I encountered a problem when start PWM in different frequencies on channels, would you help to resolve it? thanks!

When starting PWM on P9_14 and P9_16 in different frequencies, RuntimeError occurred.

If start in same frequency, no Error occurs.

I also tried to start in same frequency, then change one of them to different frequency, the same RuntimeError occurred when changing frequency.

[2016-10-11 20:33] sohotaling commented on #114
@pdp7 @MatthewWest Where do we stand on this? I've read these error messages a couple times now, and I'm still unsure of the root of the problem, or how to fix it. How do we proceed from here?

[2016-10-12 09:15] pdp7 commented on #118
I wasn't able to reproduce this issue.  Could you please try it with [the latest Debian image](https://beagleboard.org/latest-images)?

[2016-10-13 03:47] dengber commented on #118
My Debian is the latest image with file name bone-debian-8.4-lxqt-4gb-armhf-2016-05-13-4gb.img.xz. (Though it is labeled "Debian 8.5 2016-05-13 4GB SD LXQT" in the image download page, it link to a Debian 8.4 image.)

I retried the python code again with a new flashed SD card, which with Adafruit-BBIO 0.0.30 preinstalled, the error changed to

Then I uninstalled Adafruit-BBIO 0.0.30 and installed

[2016-10-13 09:05] pdp7 commented on #118
@dengber Ok, thanks for clarifying.  It would be helpful if you could run `strace` so that I can better understand what is happening.

Install `strace` (if it doesn't already exist):
[code]

Then run `strace`, replace `test.py` with the name of your test program:
[code]

Paste the contents of `strace.log` into a [gist](https://gist.github.com/).

[2016-10-13 16:57] MatthewWest commented on #114
@pdp7 Sorry, I've been a bit busy with schoolwork. The relevant section of the gist starts [here](https://gist.github.com/sohotaling/fb8dcf90a4da2f4c53902751ab67de9d#file-trace_ii-txt-L3496).

I believe that I've figured out the problem — the PWM implementation of this library for BeagleBone 4.1+ requires that a universal cape be present. Most of the time, this works really well—universal capes al

[2016-10-14 06:45] pdp7 commented on #114
Thanks for your insights, @MatthewWest!

[2016-10-14 17:05] dengber commented on #118
@pdp7 thanks for response, the following link is content of strace.log.

https://gist.github.com/dengber/4fca06df1db3d09ee6105c1598776e97

[2016-10-14 20:15] sohotaling commented on #114
As Drew says, thanks, @MatthewWest. I'll try loading some universal capes with and without the touchscreen, and may need to dump the touchscreen altogether in favor of standard HDMI output and a USB hub for input. Really appreciate the help from both of yall @pdp7

[2016-10-15 17:36] pdp7 commented on #115
@kozga  I've merged the pull request.  Could you please retest and close this issue if resolved?  Thanks!

[2016-10-15 18:02] pdp7 commented on #118
@dengber Thanks for the log.  I can also reproduce this now.  I'm further investigating the cause.

### execute test program:
[code]

### error in dmesg:
[code]

### slots file:
[code]

### system info:
[code]

### test program:
[code]

[2016-10-15 18:22] pdp7 commented on #118
@dengber  I found this BoneScript issue which seems similar:
https://github.com/jadonk/bonescript/issues/49

@NikolaMorena suggested:

I tested an this does work OK:
[code]

I suggest using those pins if you are able to.

[2016-10-15 18:27] pdp7 commented on #115
@kozga  FYI - test after new build from master:
[code]

[2016-10-15 19:16] pdp7 commented on #117
@mrburns42 Here are the results running the test.  I do not get any error.  However, "Read Byte" always displays 0x0.  I believe that would still be an issue?

### Execute test program:
[code]

### dmesg:
[code]

### Test program:
[code]

### System Info:
[code]

[2016-10-17 02:17] dengber commented on #118
@pdp7 Use pwm pins of different EHRPWM modules resolve the problem, thank you for your kindly supporting on this issue!

[2016-10-17 02:17] #118 closed

[2016-10-17 05:42] jcdammeyer commented on #80
Running uname -a
Linux beaglebone 4.1.4-ti-r8 #1 SMP PREEMPT Thu Aug 6 21:01:16 UTC 2015 armv7l GNU/Linux
$SLOTS is

 0: PF----  -1
 1: PF----  -1
 2: PF----  -1
 3: PF----  -1
 7: P-O-L-   0 Override Board Name,00A0,Override Manuf,BB-W1-P8.11

where my BB-W1-P8.11 is a dts for DS1822/DS18B20 one wire temperature sensors.
I have python program reporting the temperature.  In order to load the BB-W1

[2016-10-17 14:13] RobertCNelson commented on #80
@jcdammeyer compare your w1 dts file with this version:

https://github.com/beagleboard/bb.org-overlays/blob/master/src/arm/BB-W1-P9.12-00A0.dts

Regards,

[2016-10-17 17:03] jcdammeyer commented on #80
Thanks Robert,
Mine and yours are virtually identical with the exception that yours uses include files to hide the absolute constants.  So first thing I had to do is find them.  Might be worthwhile putting the entire path

/opt/source/bb.org-overlays/include/dt-bindings

into a comment in front of the three include statements.

root@beaglebone:/# find -name dt-bindings
./usr/src/linux-headers-4.1.

[2016-10-17 17:45] jcdammeyer commented on #80
My dts file was stripped in the reply.  I've added a .txt to it.    Still not sure why the cape_enable in uEnv.txt doesn't work nor can I find out in which script cape-universaln is loaded.
[BB-W1-P8.11.dts.txt](https://github.com/adafruit/adafruit-beaglebone-io-python/files/534249/BB-W1-P8.11.dts.txt)

Also, interesting point.  Sign into Cloud9 and run this simple Python example and my scope show

[2016-10-17 23:16] pdp7 commented on #80
@jcdammeyer could you please open up a new issue?  That will make it easier to keep track of the specific problem that you are experiencing.

[2016-10-18 00:05] jcdammeyer opened #120 "v4.1.x + cape_universaln + Adafruit_BBIO.GPIO"
I've been asked to start a new issue so here it is.
Problem: Debian Jesse v4.1.x now comes with cape_universaln installed and I can't find out where that's done.  Because the cape_universal_ grabs all the GPIO a .dts that uses one of the pins fails to load as does the Adafruit_BBIO.GPIO library.  Would like to prevent it from being loaded in the first place.

Materials: BBB RevB booting from Micro

[2016-10-18 00:23] RobertCNelson commented on #120
@jcdammeyer

[code]

You have an early rootfs, on Oct 14, 2015, i made this a runtime check:

https://github.com/RobertCNelson/boot-scripts/commit/7730db559cf4b03b0d845b2bdc3e04542a7dcff6

so just:

cd /opt/scripts/
git pull

Regards,

1: repo at /opt/scripts/ : https://github.com/RobertCNelson/boot-scripts

[2016-10-18 01:03] pdp7 commented on #120
Also, I believe that if you want to completely disable `cape-universal` you'll need remove `cape_universal=enable` from `cmdline` in `/boot/unEnv.txt`

From:
[code]

to:
[code]

[2016-10-18 02:10] jcdammeyer commented on #120
Thanks Robert.   The 'pull' did change the /opt/scripts/boot/am335x_evm.sh to match the one in the link you posted.

I believe I did start this MicroSD card with an 8.1 Debian.  Specifically
bone-debian-8.1-lxqt-4gb-armhf-2015-08-09-4gb.img

With apt-get update and apt-get upgrade I'm into
root@beaglebone:/opt/scripts/boot# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Descri

[2016-10-18 02:19] pdp7 commented on #120
Are there any errors in dmesg?

Usually, there should be additional information in the kernel log when an overlay fails to load.

[2016-10-18 02:48] jcdammeyer commented on #120
How I wish.  The slot3 invalid signature is from the cape EEROM being uninitialized.  It appears to be OK.  Yet it doesn't show up in the slots file.  When cape_universaln was loaded I'd get the error that the pin was already reserved.
Also perhaps another clue.  If I do echo the dts file to slots and then look at the slots file it's in virtual cape 5.  Yet the dmesg log shows it in slot 4.  And t

[2016-10-18 03:15] RobertCNelson commented on #120
@jcdammeyer

[code]

make sure "BB-W1-P8.11.dtbo" is under /lib/firmware/ then run:

[code]

The *.dtbo should now be copied to the initramfs, so it'll work pre-rootfs mount /..

Regards,

[2016-10-18 03:56] jcdammeyer commented on #120
Thanks Robert.
On a new reboot, my dts virtual driver is in place.
john@beaglebone:~$ cat $SLOTS
---
 4: P-O-L-   0 Override Board Name,00A0,Override Manuf,BB-W1-P8.11

Now the dmesg shows
[    4.403554] bone_capemgr bone_capemgr: initialized OK.
...
[    4.425670] bone_capemgr bone_capemgr: slot #4: dtbo 'BB-W1-P8.11-00A0.dtbo' loaded; overlay id #0
...
[   13.527681] Driver for 1-wire Dallas net

[2016-10-18 11:36] kozga commented on #115
It works, but before that I had to patch another error in get_spi_bus_path_number() in common.c (see my comment in #94). Anyway, I'm closing this bug.

[2016-10-18 11:36] #115 closed

[2016-10-19 02:40] pdp7 commented on #60
@JayWern could you please specify what kernel you are using?

Paste the output of:
[code]

[2016-10-19 02:40] #70 closed

[2016-10-19 02:41] pdp7 commented on #82
Closing this issue.  See  adafruit/Adafruit_Python_GPIO#48 for updates.

[2016-10-19 02:41] #82 closed

[2016-10-19 02:42] pdp7 commented on #10
@jwcooper is this issue still needed?

[2016-10-19 02:42] #10 closed

[2016-10-19 02:44] #80 closed

[2016-10-19 03:20] #31 closed

[2016-10-19 03:20] #47 closed

[2016-10-19 03:21] #52 closed

[2016-10-19 03:21] #65 closed

[2016-10-19 03:21] #66 closed

[2016-10-19 03:21] #84 closed

[2016-10-19 03:22] #85 closed

[2016-10-19 04:49] #112 closed

[2016-10-19 04:49] #105 closed

[2016-10-19 04:50] #104 closed

[2016-10-19 04:50] #100 closed

[2016-10-19 04:50] #98 closed

[2016-10-19 04:53] #93 closed

[2016-10-19 04:54] #92 closed

[2016-10-19 04:54] #91 closed

[2016-10-19 04:55] #87 closed

[2016-10-19 04:55] #60 closed

[2016-10-19 04:57] pdp7 commented on #114
@sohotaling are you still experiencing this issue?

[2016-10-19 05:02] pdp7 commented on #94
see comments in #115

[2016-10-19 05:02] #94 closed

[2016-10-19 05:05] pdp7 commented on #115
@kozga Could you please create a pull request with that patch for `path` in `common.c`?

[2016-10-19 22:16] pdp7 commented on #120
@jcdammeyer you wrote:

Does that mean that this issue is resolved?

[2016-10-19 22:25] pdp7 commented on #117
@mrburns42 You wrote:

I am able to run `mrburns42-test.py` OK with `cape-universaln` enabled.

**Could you paste the error message that you received?**

[code]

[2016-10-19 23:12] jcdammeyer commented on #120
Not quite.  I need to still test that the Adafruit_BBIO_GPIO Python library still works.

Also as part of this, was the question as to why the pull was needed if the image was updated/upgraded in September 2016 but the change referred to by Robert was done a year earlier.

Hopefully no one else will run into this problem because the pull isn't needed.  But if it is I'd like this issue to show the

[2016-10-19 23:14] pdp7 commented on #115
@kozga thanks for your insights.  I've included a fix in commit 452f2e7e

[2016-10-19 23:28] pdp7 commented on #120
@jcdammeyer wrote:

@RobertCNelson: could you please comment about this?

[2016-10-20 00:32] RobertCNelson commented on #120
@jcdammeyer
this should be easily explained by you running:
[code]
Regards,

[2016-10-20 04:36] jcdammeyer commented on #120
Thanks Robert.  The results of that are:
BeagleBoard.org Debian Image 2015-08-09

I'm hanging in on this thread and this subject a little while longer because I really dislike reading a thread that stops when the original poster states. Ah. Fixed it!
...
Yes.  That's it.  That's all.
...
Then when someone asks, the Linux guru's chastise the poster for not reading the thousands of web forums and wa

[2016-10-20 14:27] RobertCNelson commented on #120
@jcdammeyer for us, "/etc/dogtag" is the only real way to determine the initial state of the rootfs.  lsb_release, reads /etc/debian_version, which is controlled via the base-files package: https://packages.qa.debian.org/b/base-files.html

Correct, this shouldn't have been an issue with the "latest" version listed on beagleboard.org

PS: we are currently testing a replacement https://rcn-ee.net/ro

[2016-10-21 12:01] mrburns42 commented on #117
Currently I am running version 7.9 to have a working SPI interface.   I saved an SD Card with
  1. Base Install 8.4 Expanded File System
  2. Universal Cape removed from /boot/uEnv.txt
  3. Lastest overlay stuff added from https://github.com/beagleboard/bb.org-overlays

root@beaglebone:/home/steve# uname -a
Linux beaglebone 4.4.9-ti-r25 #1 SMP Thu May 5 23:08:13 UTC 2016 armv7l GNU/Linux

When I r

[2016-10-21 13:36] RobertCNelson commented on #117
[code]

Please upgrade, your kernel:

[code]
in 4.4.21-ti-r47, i had fixed the spidev interface.. (on of our fixes from the 4.1.x line had broken v4.4.x)..

https://github.com/RobertCNelson/ti-linux-kernel-dev/commit/04b9bf61266c38ae94f4a3b22af16177e4a6276b

Regards,

[2016-10-21 19:32] pdp7 commented on #117
@mrburns42 nice to have github.com back up!  Good point about creating a new PyPI release.  I merged several pull requests recently, so it is an appropriate time for me to do so.

Could you run your test program with `strace`?  I think the error is related to an `ioctl()`.  @kozga had raised this in #115 as you mentioned.

After that, could you install the latest `master` from this repo and run th

[2016-10-24 12:56] mrburns42 commented on #117
Sorry it has taken a couple of days.  One of the BBB was loaned out to a colleague and the other one was at work.

The output from strace is almost 1000 lines long.   Below is the output for the xfer2 command that fails.

open("./SPI_Test.py", O_RDONLY|O_LARGEFILE) = 4
fstat64(4, {st_mode=S_IFREG|0755, st_size=757, ...}) = 0
mmap2(NULL, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0)

[2016-10-28 22:33] pdp7 commented on #120
@jcdammeyer are there any outstanding questions for this issue?

[2016-10-28 22:35] pdp7 commented on #114
@sohotaling can this issue be closed?

[2016-10-28 23:12] jcdammeyer commented on #120
I've been distracted all week with a new Delta 3D printer (Eventually Beagle with Replicape driven) that there hasn't been time to do much on this issue.  However, the one test I did appeared to have the GPIO behaving as expected so I think I'll close this one.  Thanks for everyone's help.

[2016-10-28 23:12] #120 closed

[2016-10-28 23:25] pdp7 commented on #117
@mrburns42 Unfortunately, I don't have a SPI EEPROM.  I'm trying to figure out what tests I can do to replicate the problem you are having.

Is there any other SPI slave devices that you want to get working?  I'm hoping we might have something in common.

I do have a couple TFT LCDs that can be controlled via SPI.  I was able to get the [Adafruit 2.2" LCD](https://www.adafruit.com/product/1480) to

[2016-10-28 23:26] pdp7 commented on #120
Thanks for the @jcdammeyer.  The delta + replicape sounds exciting!   Is there a URL I can checkout with more details about your project?

[2016-10-29 00:01] jcdammeyer commented on #120
This is what I bought.
https://www.3dprintersonlinestore.com/geeetech-metal-delta-3d-printer-kit
It's a piece of crap  with the rod end tolerances so bad that there's more than 1mm slop on the hot ends due to slop in the rods.  The linear bearings were originally metal shrouded and are now cheaper units in plastic carriers.  Wiggle one of those and again the heater nozzle moves almost 2mm.
To adju

[2016-10-29 19:03] sohotaling commented on #114
@pdp7 Sorry for the slow response - I too have been able to dedicate little time to sorting my BBB out. Yes, I'm still experiencing this issue - I'm going to start testing this on earlier versions of Debian Linux and see what happens. Kind of stuck :/

[2016-10-30 04:46] pdp7 commented on #114
@sohotaling Thanks, yeah, that would be useful if you could contrast results using an earlier version

[2016-10-31 11:42] mrburns42 commented on #117
Hi Drew,
I am sorry if you got the impression from my last post that there are still problem.  There is no longer any SPI problems that I am aware of.   The steps to get SPI working were.
1.  Uninstall the Adafruit BBIO libraries and reinstall. (This moved from 0.0.3 to 1.0)
2.  Update the Linux Kernel per Robert Nelson above.
3.  Perform the manual install of the Adafruit BBIO .

After that the S

[2016-11-09 19:40] pdp7 commented on #117
Thanks for the detailed follow-up.  Should I close this issue?

[2016-11-09 19:41] pdp7 commented on #114
@sohotaling any update this issue?  were you able to make any progress?  thanks

[2016-11-09 23:42] mrburns42 commented on #117
I am fine with closing the issue.

[2016-11-11 05:14] pdp7 commented on #117
thanks for your input

[2016-11-11 05:14] #117 closed

[2016-11-13 19:16] theonteg opened #122 "Add eQEP support for 4.x kernel"
Hello,
Is is possible to add support to read position and change period of eQEP in kernel 4.x ?

[2016-11-14 04:52] pdp7 commented on #122
@theonteg I believe this should be a matter of writing to files in /sys.  Do you know that paths for position and periond?

[2016-11-14 19:04] theonteg commented on #122
@pdp7 yes,
for eQEP0: /sys/devices/platform/ocp/48300000.epwmss/48300180.eqep/
for eQEP1: /sys/devices/platform/ocp/48302000.epwmss/48302180.eqep/
for eQEP2: /sys/devices/platform/ocp/48304000.epwmss/48304180.eqep/
The files enabled, period and position.

This is available in kernel 4.4.31-ti-r67. Some previous versions doesn't have these files.

[2016-11-16 06:31] pdp7 commented on #122
@theonteg Thanks for the details.  I see that @rseetham added [RotaryEncoder](https://github.com/graycatlabs/PyBBIO/tree/master/bbio/libraries/RotaryEncoder) to PyBBIO.

It looks like it should be possible to add something similar to Adafruit_BBIO.  I can't give an estimate as to when I will have time to implement this feature, but I'd welcome any pull requests.

[2016-11-19 19:13] bubbapizza commented on #36
Yes, there is a weird ass bug in this Adafruit_BBIO module with using pins as a regular user. I am having the exact same issue as the post above:  YOU MUST RUN GPIO.setup() ****TWICE****

Here is how to reproduce it:

**udev rule: /etc/udev/rules.d/10-gpiobug.rules**
 KERNEL=="gpio47", SUBSYSTEM=="gpio", ACTION=="add", PROGRAM="/bin/sh -c 'chown debian /sys%p/value; chown debian /sys%p/direction"

[2016-11-23 07:44] pdp7 commented on #114
Please re-open if issue still exists

[2016-11-23 07:44] #114 closed

[2016-12-01 01:49] pdp7 commented on #122
FYI - I came across this code today by @mvduin and wanted to make a note in case it useful for implementation here:
[py-uio/ti/qep.py](https://github.com/mvduin/py-uio/blob/master/ti/qep.py)

[2016-12-01 02:26] mvduin commented on #122
Note that it doesn't use the (very limited, non-mainline) kernel driver but directly accesses the peripheral. This means that apart from DT differences it should work on any kernel (the uio_pdrv_genirq driver has existed since ancient times, and is enabled on rcn's kernels all the way down to 3.8-series if you use a not-too-ancient build).

[2016-12-04 14:30] acseckin opened #125 "Enabling UART and PWM RuntimeError: Problem with the cape manager"
**Beaglebone Black, Debian 8.6 (IoT image), Python 2.7.9**

### **_uEnv.txt_**
[code]
### python code  "_pwmtest.py_" :
[code]
### error:
[code]

for default _uEnv.txt_, P9_14, P9_16, P8_13 and P8_19 works but P9_42 not working. after the _uEnv.txt_ configuration for uart 1, uart 4, uart 5 and uart 2 this message appears for all PWMs.

[2016-12-05 01:19] pdp7 commented on #125
@acseckin Please paste the contents of **/boot/uEnv.txt**

Adafruit_BBIO expects cape-universal to be enabled when running Linux kernel 4.1+.

Also please make sure you are running the latest version from PyPI:
**pip install Adafruit_BBIO**

[2016-12-05 07:35] acseckin commented on #125
uEnv.txt

[code]
slots

[code]

[code]

[2016-12-05 15:38] pdp7 commented on #125
It would be helpful if you could run `strace` so that I can better understand what is happening.

Install `strace` (if it doesn't already exist):
[code]

Then run `strace`, replace `test.py` with the name of your test program:
[code]

Paste the contents of `strace.log` into a [gist](https://gist.github.com/).

[2016-12-05 16:22] acseckin commented on #125
How can i paste the whole file? is there any simple way?

[2016-12-05 16:51] acseckin commented on #125
[strace.log ](https://gist.github.com/acseckin/13f7cc4ff6f87377587184f3324f5e42)

[2016-12-06 10:10] acseckin commented on #125
I have a project deadline (9 Dec) . Can you suggest a qucik solution or a stable Beaglebone Black image to working UARTs and PWMs at the same time?

[2016-12-06 23:01] pdp7 commented on #125
@acseckin  It seems that loading the UART overlays at boot causes cape-universal overlay not to load.  Adafruit_BBIO depends on cape-universal for Linux 4.1+ kernel (as used in Debian 8.x Jessie).

I'd suggest commenting out the enable_partno and disable_partno lines:
[code]
Ensure that cape-universal is still enabled:
[code]
Reboot and slots should have:
[code]

You should then be able to use `co

[2016-12-06 23:19] acseckin commented on #125
P9.42 not a uart port according to https://learn.adafruit.com/setting-up-io-python-library-on-beaglebone-black/uart

`config-pin P9.42 pwm`

also uart 5 pins gives this

[code]

[2016-12-06 23:54] acseckin commented on #125
disabling HDMI fixes UART5 with
[code]

and slots:

[code]
uEnv.txt : https://gist.github.com/acseckin/b37ae6502da3ffb5a6ee4d5ac9981ce0

**but p9_42 pwm still not working**

[2016-12-07 09:45] pdp7 commented on #125
*Can you use a different pin for PWM?*

It appears that there is an issue with [P9_42 as it is an ECAP pin](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L192).

Bonescript addressed this issue back in September:
[Fixed PWM for ECAP (P9_28 and P9_42)](https://github.com/jadonk/bonescript/commit/7fee6177def213b5e98e4992dfec01a03c200bbd)

I should be able to f

[2016-12-07 13:54] acseckin commented on #125
I'm ok with that pins. P9_42 is supernumerary for now.

[2016-12-07 20:42] pdp7 opened #126 "Allow ECAP pins to be used as PWM outputs"
Adafruit_BBIO should be fixed so that ECAPPWM0 (P9_42) and ECAPPWM2 (P9_28) can be used for PWM output.

It appears to not work be due to the way ECAPPWM0 (P9_42) and ECAPPWM2 (P9_28) are defined in [pwm_table](https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L192):
[code]
Bonescript addressed this issue back in September:
**[Fixed PWM for ECAP (P9_28 and P9_42

[2016-12-07 20:47] pdp7 commented on #125
I've created issue #126 to allow P9_42 to be used as PWM

[2016-12-07 20:50] acseckin commented on #125
I think we can close this issue.

[2016-12-07 20:50] #125 closed

[2016-12-08 07:44] ManMan88 opened #127 "unable to setup ADC"
- Platform/operating system:  BeagleBoneBlack with Ubuntu 16.04.1 LTS (GNU/Linux 4.4.34-ti-r69 armv7l)

- Python version : Python 2.7.12

- Error message:
[code]

- List the steps to reproduce the problem:

installing:
[code]

in python:
[code]

[2016-12-08 11:01] LudovicGuerra commented on #127
I agree. I add that for me, if I lauch it once connected by SSH, it is working. But if i lauch it by a service, it doesn't work. But when I launched it with a sleep 40 on the serivce, it worked. Need to find out the cause (I add also that once it worked, the UART started to bug saying typeError in the serialposix)

[2016-12-09 02:24] pdp7 commented on #127
@ManMan88 Please paste the contents of `/boot/uEnv.txt` and `/sys/devices/platform/bone_capemgr/slots`.

Adafruit_BBIO expects cape-universal to be in use for Linux 4.1+ kernels.

Also, I noticed that you are using Ubuntu.  Where did the image you are using come from?

I only test Adafruit_BBIO with the official BeagleBoard.org Debian images created by @robertcnelson:
* [BeagleBoard.org Latest Fir

[2016-12-09 02:25] pdp7 commented on #127
@LudovicGuerra It sounds like you are describing a different problem.  Please open up a new issue for it.

[2016-12-09 11:59] ManMan88 commented on #127
@pdp7 I used the image from this link: https://rcn-ee.com/rootfs/2016-11-10/flasher/BBB-eMMC-flasher-ubuntu-16.04.1-console-armhf-2016-11-10-2gb.img.xz
It was given by: http://elinux.org/BeagleBoardUbuntu

The contents of  `/boot/uEnv.txt` is:
[code]

And the contents of `/sys/devices/platform/bone_capemgr/slots` is:
[code]

[2016-12-09 16:01] RobertCNelson commented on #127
@ManMan88 I've tried to keep the ubuntu target as close to the debian target for overlays, so this should still work on ubuntu.. (Sadly, other then booting, i really don't test ubuntu)

What is shown by:

[code]
after this occured:
[code]

Regards,

[2016-12-09 16:02] pdp7 commented on #127
@ManMan88 I believe the issue is that cape-universal overlay isn't loaded.

You can try to load with:
[code]

You should then see:
[code]

If that fails, then please install the latest Device Tree overlays from:
https://github.com/beagleboard/bb.org-overlays

[2016-12-09 23:08] ManMan88 commented on #127
@RobertCNelson, this is the output to what you asked me to do:
[code]
@pdp7 , your first suggestion worked :) thanks! I very appreciate the fast help!

[2016-12-09 23:13] RobertCNelson commented on #127
@pdp7 just ran into this today, both the elinux.org images ubuntu/debian, lack "cape_universal=enable" option in /boot/uEnv.txt

/boot/uEnv.txt: (current)
[code]

/boot/uEnv.txt: (needed)
[code]

Regards,

[2016-12-15 00:19] pdp7 commented on #127
@ManMan88 Is this issue resolved?

[2016-12-15 08:04] ManMan88 commented on #127
Yes, it is resolved. Thanks.

I have another issue with PWM that might be similar to this problem. However, I'll post a new issue on it.

[2016-12-22 05:27] pdp7 commented on #126
Resolved by PR #128

[2016-12-22 05:27] #126 closed

[2016-12-27 00:34] elopio opened #129 "Doesn't support Ubuntu core beaglebone leds"
I have a beagle bone with ubuntu core installed from http://people.canonical.com/~ogra/snappy/all-snaps/daily/current/ubuntu-core-16-beaglebone.img.xz

The problem here is that the leds 0 and 1 are not called usr0 and usr1. They are called heartbeat and mmc0:

[code]

So, with the adafruit library I can only use the two last leds.

I'm not sure what would be the best way to support this. Maybe in

[2016-12-27 16:55] RobertCNelson commented on #129
@elopio this project uses a lot of features in the beagleboard.org kernel fork, many of which are heading mainline (just slowly)..  With this issue, in 3.8.13, we had these named usr0 -> usr3, when the black went mailine, this detail was missed.. Here's the patch we use:

https://github.com/RobertCNelson/ti-linux-kernel-dev/blob/ti-linux-4.9.y/patches/soc/ti/bone_common/0001-ARM-dts-am335x-bone-co

[2016-12-27 21:04] elopio commented on #129
Hey @RobertCNelson! So, let me see if I understood correctly. The right name for all the leds is usrX, and at some point in the future that will be changed in the mainline kernel and consequently in Ubuntu when we sync. Right?

[2016-12-27 21:29] RobertCNelson commented on #129
@elopio

It's not really a matter between right and wrong..

Case 1: old 3.8.13 software expects usr0 -> usr3 (using mainline breaks old 3.8.13 software)
Case 2: mainline has had it since 2013-09-17 (thus changing it breaks mainline users)

So I've elected to just patch it locally for the beagleboard.org community and leave the mainline version untouched, as it's been that default for too long to

[2016-12-28 20:46] elopio commented on #129
I see. Thanks for the info.
So I'm still wondering, should this library support both cases by checking which files exist?

[2016-12-28 20:49] RobertCNelson commented on #129
It can be added to the library, but everything else still requires things start are not in mainline..
Regards,

[2016-12-28 22:17] elopio commented on #129
Got it. So even if we get the leds working, many other things will not work.
I will talk to our bbb maintainer to see if we can apply your patches to make a bb kernel snap.

[2017-01-04 09:07] pdp7 commented on #129
This issue seems to me like something that might be useful to support.  I've created a branch to add support for alternate USR LED naming: `issue129-usr-leds`

To test this, I've built a kernel from `ti-linux-4.4.y` branch of `ti-kernel-kernel-dev` with a modified `am335x-bone-common.dtsi`:
[code]

[2017-01-09 03:42] pdp7 commented on #129
@elopio I've just merged #130 which adds support for the alternate USR LED labels.  **Please test again in Ubuntu Core and let me know if the issue is resolved.**

The following `/sys/class/leds/` paths should all work now:

Normal USR LED labels:
* beaglebone:green:usr0
* beaglebone:green:usr1
* beaglebone:green:usr2
* beaglebone:green:usr3

Alternate labels:
* beaglebone:green:heartbeat
* beagle

[2017-01-12 03:24] pdp7 commented on #129
@elopio is it OK to close this issue now?

[2017-01-12 15:52] elopio commented on #129
Sorry, I haven't had time to give it a try. I think I can play with my bbb today.
The code looks good, thanks a lot for working on it.

[2017-01-25 08:08] pdp7 commented on #129
@elopio Hi, just wanted to check if you had been able to test yet.  Thanks.

[2017-01-28 21:58] elopio commented on #129
Yes, it works :) Thanks a lot @pdp7, and sorry for the late reply.

[2017-01-29 07:53] pdp7 commented on #129
@elopio awesome, thanks for letting us know

[2017-01-29 07:53] #129 closed

[2017-02-02 19:27] pdp7 commented on #122
@theonteg Here's an update:
I found a bug in the tieqep driver in the 4.9 kernel (which is currently in testing for the beaglebone debian image).   I've tracked down the solution and Robert C. Nelson, who builds the beaglebone kernels and debian images, has now merged the fix:beaglebone
*tieqep: add patch to fix unhandled fault on 4.9 kernel*
https://github.com/RobertCNelson/ti-linux-kernel-dev/co

[2017-02-02 19:45] RobertCNelson commented on #122
4.4.45-ti-r86/4.4.45-ti-rt-r86 with @pdp7 's fix should hit the apt repo later this afternoon.

Regards,

[2017-02-02 19:59] pdp7 commented on #122
@robertcnelson Will there also be a package for the new 4.9.7-ti-r19 kernel?

[2017-02-02 20:02] RobertCNelson commented on #122
@pdp7 crap, sorry meant: 4.9.7-ti-r19/4.9.7-ti-rt-r19, complete brainfart..

Regards,

[2017-02-02 20:09] archey opened #133 "Compilation issues due to strict aliasing"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  ArchLinux 64-bit

- Python version (run `python -version` or `python3 -version`):  python2

- List the steps to reproduce the problem below (if possible attach code or commands
  to run): **LIST REPRO STEPS BELOW**

When compiling the adafruit beaglebone-io-pytho

[2017-02-03 03:09] pdp7 commented on #133
@archey thanks for letting us know.  I'll take a look.

[2017-02-07 15:48] archey commented on #133
Hows this coming along? Just curious no rush

[2017-02-07 20:17] pdp7 commented on #133
Thanks for the ping.  I'll take a look tonight and update.

[2017-02-08 08:54] pdp7 commented on #133
@archey Are you running Arch on the BeagleBone itself?  If so, is there an image that I can download to test?

Currently, I'm downloading archlinux-2017.02.01-dual.iso to run in VirtualBox on my x86_64 host.  This seemed like the quickest way to get GCC 6.3. I'm hoping I'll hit the error you mentioned when I try to build adafruit-beaglebone-io-python on it.

[2017-02-08 09:50] pdp7 commented on #133
I'm leaning towards modifying the build to ignore the gcc strict-aliasing warning.  Py_RETURN_TRUE
 and Py_RETURN_FALSE are part of the Python C API and I think are OK to use:
https://docs.python.org/2/c-api/bool.html

[2017-02-08 09:58] pdp7 commented on #133
@archey I've pushed commit baf41fc which adds `-Wno-strict-aliasing` to `CFLAGS` to ignore gcc warning.  Please test and let me know how it works.

[2017-02-08 12:37] archey commented on #133
@pdp7 I am testing it on all arches x86_64, i686, armv6, armv7, aarch64. I was hoping you wouldn't add the ignore flag, but Im sure it will fix the issues. You can use ArchLinux ARM to test it on the beaglebone with this image: https://archlinuxarm.org/platforms/armv7/ti/beaglebone-black or https://archlinuxarm.org/platforms/armv7/ti/beaglebone

[2017-02-08 19:08] pdp7 commented on #133
@archey thanks.  yeah, I don't like having to permanently ignore warnings.   `Py_RETURN_TRUE`
and `Py_RETURN_FALSE` seem to be necessary for the Python C API.  I'm not sure how to rework the code to avoid that strict-aliasing warning for those lines.

[2017-02-08 19:12] archey commented on #133
@pdp7 I understand, its not an issue in 1.0.0 the current version that we have compiled. I will test the cflag change in a bit.

[2017-02-08 19:15] pdp7 commented on #133
@archey Ah, I think the reason is that I enabled extra gcc warnings in this commit: c8fe070

I think I didn't notice the strict aliasing warning as I'm on an older version of gcc.

[2017-02-10 00:24] archey commented on #133
@pdp7 it works fine with the patch, you can commit it and maybe bump the current tag

[2017-02-10 10:11] pdp7 commented on #133
Thanks, I've created a new release.

[2017-02-10 10:11] #133 closed

[2017-02-13 08:30] LudovicGuerra opened #134 "Push button event itself without pushing"
Hi all.
I am working on BBG. Im using Python2
I got a problem link to Adafruit driver.
I got a Beaglebone with a push button on a GPIO.
I plug on the GPIO a oscilloscope.
And on a console I print if the event is detected ty to the function GPIO.event_detected
The problem is :
Sometimes I don't push the button, the oscilloscope show nothing but I got a message "Button pushed".
Can someone relate th

[2017-02-13 09:47] pdp7 commented on #134
I'd like to know more about what system software is running on your BeagleBone.  Please paste the output of:
[code]

Please ensure your running the latest version of Adafruit_BBIO which is `1.0.3`:
[code]

Finally, please post the Python code that you are running so that I can attempt to reproduce the issue.

[2017-02-13 10:06] LudovicGuerra commented on #134
Hi
I cannot install the latest version of adafruit because it is not working at all for reason.
Linux beaglebone 4.4.30-ti-r64 #1 SMP Fri Nov 4 21:23:33 UTC 2016 armv7l GNU/Linux
Debian version : 8.6
BeagleBoard.org Debian Image 2016-11-06

The code I use :

`from datetime import datetime
import time
import csv
import Adafruit_BBIO.GPIO as GPIO

GPIO.cleanup()
def test(tutu):
        print("test")

[2017-02-13 10:21] pdp7 commented on #134
Do you get an error when trying to upgrade to v1.0.3 via pip?

Alternatively, have you tried cloning this repo and installing it?

[2017-02-13 10:26] LudovicGuerra commented on #134
Installing is not the problem. My program (not this one, this one is jsut for test) is not working and I get a specific error, everytime the same. Didn't investigate further. I don't remember the error exactly, but it was an error about pyserial if I remember well.
And on my environment we don't often update version (fighted hard to be able to have the latest debian version...)
But I don't think i

[2017-02-13 11:00] pdp7 commented on #134
I've run your example and I see the issue you describe.  I think the issue is that there needs to be debouncing.

`add_event_detect()` does have `bouncetime` parameter in milliseconds.

`add_event_detect()` also supports a callback function.

Could you replace the while loop with a callback to handle the button press?

[2017-02-13 11:04] LudovicGuerra commented on #134
I did it's what the "test" function is for.
The behaviour is really strange.
And if i change the boucetime, then i get more event detected.
Best is to try yourself to see. Didn't see any pattern.
if i use `GPIO.add_event_detect("P8_16", GPIO.RISING, test, 100)`
Then  i get one time print test for 5 events, then "test" again. Sometime i got 10 event before having the word "test".
And the bouncetime

[2017-02-13 14:36] LudovicGuerra commented on #134
I believe you should have a look on event_detected.
`event_occurred[gpio] = 1;` happen without checking the raising or falling event. It seems.

[2017-02-14 10:44] pdp7 commented on #134
Ok, thanks, I'll investigate further.

[2017-02-14 12:24] LudovicGuerra commented on #134
Super. Keep me inform when you get news. If you need some help don't hesitate.

[2017-02-28 08:32] LudovicGuerra commented on #134
Hi do you have news ?

[2017-02-28 08:51] pdp7 commented on #134
@LudovicGuerra Sorry for the delay.  I've been traveling but am at home now.  I'll follow up by tomorrow (March 1).

[2017-03-02 06:57] pdp7 commented on #134
@LudovicGuerra  To test, I [modified source/event_gpio.c](https://gist.github.com/pdp7/da586ee371a3720b402871a4f5e65c9f) in order to gain insight into what is happening.

Here is the test program `test-issue-134.py` based on your program above:
[code]

I run the program with P8_16 disconnected and then I connect wire to 3.3V:
[code]

Do you get these same results?

[2017-03-02 12:16] LudovicGuerra commented on #134
Hi.
At the moment we are re-architecturing the software on the beaglebone.
For example, we are updating to python 3.6.
So I cannot test right now due to this.
Sorry for the inconvenience.
I will tell you when I can lauch a test.

[2017-03-03 07:10] JesseMcL commented on #134
Hi,

The debounce parameter is not strictly a debounce, it is a throttle - which can be a bit misleading. This means that button presses, particularly with mechanical buttons or connecting wires will generate many high and low glitches until the button is steady (which could take hundreds of milliseconds, and glitches can occur on microsecond periods).

If these glitches take a long time to settle

[2017-03-04 18:24] pdp7 commented on #134
@JesseMcL thanks for the insights and the code example.  I'll try it out.  This seems like something I should add as an example in the documentation.

[2017-03-07 09:41] elfgoh commented on #114
I am experiencing this issue still. Would like to request this issue to be reopened please

[2017-03-07 18:18] pdp7 commented on #114
@elfgoh please open a new issue and reference this issue in the description.

I monitor both the BeagleBone forum on Adafruit and this repo.   For an issue specific to the Adafruit_BBIO library, I do prefer creating a GitHub issue in this repo as it easier to keep track of than an Adafruit forum post.  Thanks.

[2017-03-09 03:05] elfgoh opened #136 "PWM Initialization Produces RuntimeError: Problem with cape manager"
## Steps to reproduce the error (vauge details included due to expediency)

- Use a debian [console image](https://rcn-ee.com/rootfs/bb.org/testing/2017-02-12/console/) as a base
- Install python 3.4
- Create a venv
- Install pip using the [get-pip.py[(https://pip.pypa.io/en/stable/installing/)
- Activate venv
- Install adafruit BBIO library (1.0.3) using pip
- run the following script `# python3.

[2017-03-09 05:09] pdp7 commented on #136
@elfgoh Please create a gist with the output from dmesg after booting up.

I'll download that image and attempt to reproduce.

In the meantime, I recall that console images in the past didn't have overlays installed.  Please install [bb.org-overlays](https://github.com/beagleboard/bb.org-overlays):
[code]

[2017-03-09 05:29] elfgoh commented on #136
Seems like the bb cape overlays are installed. Can I double check that they are the same one as bb.org overlays?

`# dpkg-query -l |grep overlay`

[2017-03-09 05:32] elfgoh commented on #136
This is the [gist](https://gist.github.com/elfgoh/5dc11cb9d3ba1ef985fa560e9d9a6ade) from `# dmesg` after a reboot

[2017-03-09 05:37] pdp7 commented on #136
It looks like the bb-cape-overlays package is from 2017-03-04 so that should be find.

Thanks for the dmesg gist.

Please do the same for the contents of **/boot/uEnv.txt**.

[2017-03-09 05:50] elfgoh commented on #136
[Gist](https://gist.github.com/elfgoh/92c9c2f64dd3eaa7e515e0136d26f9ca) for `/boot/uEnv.txt`

[2017-03-09 06:19] elfgoh commented on #136
@pdp7 fwiw python3.4 was installed via apt-get and there isn't any other python versions afaik on the system

[2017-03-09 06:35] pdp7 commented on #136
I'm not running the 2017-02-12 console image and I am observing the same behavior as you.

I think the issue here is that [cape-universal](https://github.com/cdsteinkuehler/beaglebone-universal-io) is not being loaded as expected.  Adafruit_BBIO requires cape-universal be loaded when the Bone is running a 4.1+ kernel (like on the Debian Jessie images).

I'm going to ask Robert Nelson who creates t

[2017-03-09 06:52] pdp7 commented on #136
I've just posted on the BeagleBoard mailing list to see what Robert and possibly others think of using cape-universal and the console image:
https://groups.google.com/d/msg/beagleboard/9aoq_ilz1J8/Sfbk0CdzAwAJ

[2017-03-09 07:18] elfgoh commented on #136
Yes I have tried the IoT image and the issue doesn't happen. I am trying to use an image that is as minimal. Afaik, the IoT image had some bits that I had to remove as I was aiming for a system with the smallest footprint.

It seemed more productive to use the leaner console image as a starting image. But perhaps this approach isn't ideal. Happy to listen to differing perspectives!

[2017-03-09 20:07] RobertCNelson commented on #136
I've added config-pin to the overlay project:

https://github.com/beagleboard/bb.org-overlays/commit/79221773d290657807318a31c06e5cd7da87c81d

Regards,

[2017-03-09 20:11] pdp7 commented on #136
Thanks @RobertCNelson.  Should the console image then also load a cape-universal overlay when it starts up?

[2017-03-09 20:17] RobertCNelson commented on #136
it should, the cape universal overlay loading happens in the boot script.

https://github.com/RobertCNelson/boot-scripts/blob/master/boot/am335x_evm.sh#L812

Regards,

[2017-03-09 20:29] RobertCNelson commented on #136
ps, i just "finally" added config-pin to the bb-cape-overlays package

https://github.com/rcn-ee/repos/commit/46941bb9e7e0e0593ea0425a16fe0d0733ea95dd

So end users who just want to use the overlays as is, can just install

sudo apt install bb-cape-overlays

(no more git/make/etc requried)..

Regards,

[2017-03-09 20:31] pdp7 commented on #136
Thanks @RobertCNelson.

@elfgoh Could you try upgrading `bb-cape-overlays`?

[2017-03-10 02:12] elfgoh commented on #136
Thanks for the very quick response @RobertCNelson ad @pdp7 . I have upgraded and there doesnt seem to be any improvement unfortunately

`# pip list|grep BBIO`

Adafruit-BBIO (1.0.3)

`# dpkg-query -l |grep overlay`

`# python3.4 bbio-test.py`

  File "bbio-test.py", line 4, in <module>
    PWM.start("P9_14",50)
RuntimeError: Problem with the cape manager

`# cat bbio-test.py`

import Adafruit_BBIO

[2017-03-10 02:20] elfgoh commented on #136
[Output](https://gist.github.com/elfgoh/1f71b30e48d59711584c885390d43e2a) from `# sudo strace -f -o trace.txt python3.4`

[GCC 4.9.1] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Problem with the cape manager

[2017-03-10 02:27] elfgoh commented on #136
`dmesg` [output](https://gist.github.com/elfgoh/b1c062b04b70f3e2793ebd2bf2229cb0) after a fresh reboot

[2017-03-10 02:51] elfgoh commented on #136
Seems like still no cape-universal overlay appears in slots:

`# cat /sys/devices/platform/bone_capemgr/slots `

 1: PF----  -1
 2: PF----  -1
 3: PF----  -1

[2017-03-10 03:09] elfgoh commented on #136
`config-pin` has also been installed and runs without issues

[2017-03-10 04:06] RobertCNelson commented on #136
@elfgoh

open /opt/scripts/boot/am335x_evm.sh

make sure it matches:

https://github.com/RobertCNelson/boot-scripts/blob/master/boot/am335x_evm.sh#L811-L817

or just run "git pull" in /opt/scripts and get the full latest..

Regards,

[2017-03-10 04:53] elfgoh commented on #136
Looks like it is fixed @RobertCNelson

The current `/opt/scripts/boot/am335x_evm.sh` needs to be updated. Is there any timeline for the updates to go into the console image? If not, I am happy to just git pull for the time being

Thanks a lot @RobertCNelson and @pdp7

[2017-03-10 05:12] RobertCNelson commented on #136
@elfgoh so the /opt/scripts/ directory has never been packaged.  When we generated a weekly snapshot the top of the master branch is always cloned in.

Regards,

[2017-03-10 05:16] elfgoh commented on #136
I see. So I guess I should wait for the next [snapshot image](https://rcn-ee.com/rootfs/bb.org/testing/) if I wished to have the fix included by default?

[2017-03-10 08:02] elfgoh commented on #136
Slightly off topic: but the [latest snapshot on 7 Mar](https://rcn-ee.com/rootfs/bb.org/testing/2017-03-07/) does not have passwordless root login enabled

ie `ssh root@192.169.7.2` results in a password prompt

[2017-03-10 08:06] pdp7 commented on #136
@elfgoh This is the recent change that @RobertCNelson made to improve security:
http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#i_take_full_responsibility_for_knowing_my_beagle_is_now_insecure

[2017-03-10 09:06] pdp7 commented on #136
@elfgoh  I was able to use Adafruit_BBIO successfully with the `bone-debian-8.7-console-armhf-2017-02-12-2gb.img` image with these steps:
[code]
The `cape-universaln` overlay is now loaded:
[code]
Then run:
[code]

[2017-03-10 09:12] elfgoh commented on #136
Thanks. Using the same image and slightly different configuration, `cape-universal` has been loaded by running `git pull` in `/opt/scripts` and get the full latest of https://github.com/RobertCNelson/boot-scripts/blob/master/boot/am335x_evm.sh

I confirm that this issue can be closed at the Adafruit_BBIO end

[2017-03-10 17:11] #136 closed

[2017-03-13 02:39] nicnicknicky commented on #36
Hello, I recently managed to enable the GPIOs with PWM to work when my ownership is changed to non-root user. This solution was based off reading various threads and I pieced together my own which happened to work.
This was my [main reference](https://github.com/cnobile2012/RobotControl/tree/master/contrib).
Essentially my contribution was that I went to look at how gpio and pwm were called in the

[2017-03-14 11:48] nicnicknicky opened #137 "Access to GPIO and PWM as non-root user not functioning"
Hello, I encountered several issues when trying to use the GPIO and PWM as a non-root user. The solutions I have seen in other similar issues have not used any concrete solutions and most were for kernels 3.xx.

Right before posting this issue, I managed to make a scrappy solution enable the GPIOs with PWM to work when my ownership is changed to non-root user. This solution was based off reading v

[2017-03-18 15:44] pdp7 commented on #137
@nicnicknicky thanks for posting.  I've just returned from a conference this past week and will check this out

[2017-03-21 15:46] ltjax opened #140 "File descriptor leak in gpio_get_direction"
Found this while hunting for my memory leak. It wasn't it, but it should probably still be fixed:

In event.gpio.c, function gpio_get_direction the file descriptor is never closed.

[2017-03-21 15:51] ltjax opened #141 "Inconsistency in fd_lookup"
fd_lookup in event_gpio.c uses 0 as the return value for "not found", but that's a valid return value for open(), albeit usually used for stdout.
Probably just an oddity, since opeing the FD with index 0 is very unlikely.

[2017-03-21 15:54] ltjax opened #142 "gpio_set_value leaks file descriptors for LEDs"
In event_gpio.c: if the first open() in gpio_set_value succeeds (the one in the LED branch), the fd will be overwritten by the second open, hence leak.

[2017-03-24 16:12] pdp7 commented on #140
@ltjax thanks.  Would you be able to submit a pull request?

[2017-03-24 16:16] pdp7 commented on #141
@ltjax thanks for pointing this out.  I'll take a look.

[2017-03-24 16:16] pdp7 commented on #142
@ltjax was this addressed by either of the Pull Requests?  thanks.

[2017-03-24 16:30] ltjax commented on #142
No, I just found it while looking for my problems. I never hit this case

[2017-03-24 16:32] ltjax commented on #140
Right now I'm on a tight time budget, so I can't really promise it. Might be faster if you just fixed it yourself.

[2017-03-27 19:16] wgaonar commented on #136
Hello @pdp7 and @RobertCNelson,
I have been having this issue with the BeagleBone Green Wireless (BBGW). The curious aspect is that I am been able to run the PWM only when I am connected through the WiFi to the BBGW, in the other cases I get the runtime error.
I found a way to solve this in the mean time. It consist of editing the /opt/scripts/boot/am335x_evm.sh file in order to force to load the

[2017-04-04 03:48] pdp7 commented on #134
@LudovicGuerra I'm going to close this but please re-open if you are able to test again and have problems

[2017-04-04 03:48] #134 closed

[2017-04-04 04:28] pdp7 commented on #137
@nicnicknicky thank you, I've tested your udev rule and script and added to this repo in a new `udev` directory

[2017-04-05 06:48] pdp7 commented on #142
fyi - I've used this [python program](https://gist.github.com/pdp7/e7753faff9a9bd27389a0173c71f9312) to test:
[code]

[2017-04-05 06:51] pdp7 commented on #142
@ltjax thanks, I've fixed the leak

[2017-04-05 06:51] #142 closed

[2017-04-05 07:13] #137 closed

[2017-04-12 05:53] pdp7 commented on #140
@ltjax thanks for reporting this.  resolved by commit da0b0e5

[2017-04-12 05:53] #140 closed

[2017-04-12 08:41] pdp7 commented on #141
I've been tracing the code to see how it behaves.

Here is test python program:
[code]

## Test results
[code]

[2017-04-12 08:46] pdp7 commented on #141
It would appear that in cases where `fd_lookup()` returns `0` that `open_value_file()` will then be called.  It will attempt to open the gpio value file and will call `add_fd_list()`.  The return value of `0` is not used as file descriptor (which would be stdout).

[2017-04-12 08:49] #141 closed

[2017-04-12 18:34] RobertCNelson opened #144 "stretch: manual build conflicting types for 'ctrl_dir/ocp_dir'"
Just caught this is on the builders this morning, stretch-iot image:

[code]

[2017-04-12 18:48] pdp7 commented on #144
@RobertCNelson thanks, I'll check it out

[2017-04-12 20:48] RobertCNelson commented on #144
@pdp7 ahh i see the issue:

[code]
That's my local quad core armhf build box..

it's tripping on:

https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L48-L64

i need to overide that with a flag. ;)

Regards,

[2017-04-12 21:04] RobertCNelson commented on #144
Working around it locally:

https://github.com/RobertCNelson/omap-image-builder/commit/eea039963af2c37536193860a2a24e8407a7b00f

Regards,

[2017-04-13 06:38] pdp7 commented on #144
@RobertCNelson I'm confused why it necessary for your script to change '4.1.0' to '3.4.0' in this part of setup.py:
[code]
I would have thought the `#ifdef BBBVERSION41` in `source/common.c` and `source/common.h` would have prevented this from being an issue.

[2017-04-13 06:44] pdp7 commented on #144
@cocasema It seems that `common.h` changed in ceb4681 _(Add libadafruit-bbio with C++ wrappers for PWM/GPIO)_ to define these variables as `extern`:
[code]

Do you think this could be the reason for the gcc error that @RobertCNelson encountered on his build system running Linux kernel 3.4.0?
[code]

[2017-04-13 13:47] RobertCNelson commented on #144
@pdp7 & @cocasema so setup.py does a pre-build time check to decide weather to build for a 3.8.x or 4.1.x+ kernel..

[code]

My issue, one of my build boxes is running it's manufacture's kernel based on 3.4.0. So it went down the old "3.8.x" build path and discovered:
[code]
and
[code]
So the old 3.8.x build path is now actually broken, we just need to add this to the mis configured extern's...
``

[2017-04-14 05:08] cocasema commented on #144
The change to declare arrays as external in header was to fix "multiple
definitions of symbol" error. That should not affect logic.

On Apr 13, 2017 6:47 AM, "Robert Nelson" <notifications@github.com> wrote:

[2017-04-14 05:23] cocasema commented on #144
Just got to a laptop.

Yeah, I see the issue. In common.c we have this code and we might end up with define of  BBBVERSION41 in .c file only.
[code]

[2017-04-14 06:31] pdp7 commented on #144
@cocasema should that be add to the header file as well?

[2017-04-15 05:23] cocasema commented on #144
I not sure how many other this might break - common.h is included everywhere.
I'd first try moving arrays above the `#define` common.c to sync definition and declaration.
I'm out till Monday and won't be able to make/test this change sooner.

[code]

[2017-04-15 08:26] pdp7 commented on #144
@cocasema ok thanks.  @RobertCNelson has worked around this issue on his build server, so I don't believe this is a critical issue.  However, it will be good to get this resolved in case anyone else tries to build on an older system.

I did get the idea looking at the code above that maybe the conditional logic is not needed.  The arrays should just always be defined for the larger BBBVERSION41 si

[2017-04-18 05:46] cocasema commented on #144
[code]

@pdp7 If extra size is not a problem - then this is the easiest fix.

[2017-04-19 03:12] pdp7 commented on #144
@cocasema thanks for your insight.  I'm going remove the conditional logic for kernel version and use the larger size of array allocation.

[2017-04-19 03:20] #144 closed

[2017-04-19 05:21] cocasema commented on #144
Thanks!

[2017-04-19 06:12] cocasema commented on #144
We can also remove ctrl_dir: https://github.com/cocasema/adafruit-beaglebone-io-python/commit/2d7866cfc9bbe64579bec6d7005ac2d457d9a599

[2017-04-19 07:04] pdp7 commented on #144
@cocasema could you please raise a pull request for https://github.com/cocasema/adafruit-beaglebone-io-python/commit/2d7866cfc9bbe64579bec6d7005ac2d457d9a599 ?

[2017-04-20 05:18] pdp7 commented on #122
I'm using P8.11 and P8.12 for testing a rotary encoder.

Using cape-universal:
[code]

Configure the pin mode for eQEP:
[code]

System info:
[code]

[2017-05-10 07:33] pdp7 commented on #122
_NOTE: my BBB is running Debian 8.8 with Linux 4.4.62-ti-r99 kernel_

I've now been able to use eqep0, eqep1 and eqep2 OK with `config-pin`.  I had to modify `cape-universala-00A0.dts` to enable pins `P8_33` and `P8_35` for `eqep1`: https://github.com/pdp7/bb.org-overlays/commit/fd65f9ec580cd210cc3c401ce77ebd631f25e262

Enable eqep0 for pins `P9_27` and `P9_92` _(an alias for `P9_42.1`)_:
[code]
E

[2017-05-10 16:16] RobertCNelson commented on #122
and pushed to the apt repo:

[code]

and it should show an upgrade for bb-cape-overlays
bb-cape-overlays_4.4.20170510.0

reboot and it should work, let us know..

[2017-05-10 18:03] pdp7 commented on #122
Thanks @RobertCNelson!

[2017-05-12 03:32] pdp7 commented on #122
I have  documented how-to to enable all the eqep pins:
https://github.com/adafruit/adafruit-beaglebone-io-python/commit/c418cdae9a2a2c0d52412561c0125b0d227af4eb

BeagleBone must boot with cape-universal enabled and load the cape-universala overlay in order to
use all the eQEP pins:

### Install the latest Device Tree overlays:
[code]

### File: /boot/uEnv.txt
[code]

### File: /sys/devices/platfor

[2017-06-25 09:54] Vadim-Stupakov opened #145 "GPIO library doesn't free GPIO file descriptor. File descriptor leak."
Hello, I found such issue.
I got example of LED and run it.
LED are blink for about minute and that's all.
I run strace and found such error:
[code]

- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):
[code]

- Python version (run `python -version` or `python3 -version`):
[code]
- Error message you are receiving,

[2017-06-27 08:22] pdp7 commented on #145
resolved by #146

[2017-06-27 08:22] #145 closed

[2017-06-28 23:12] acseckin commented on #127
I have same problem when calling from crontab. [This code](https://github.com/acseckin/hmrid/blob/master/runhmrid.py) works from terminal but gives these results when calling from crontab.

[code]

[2017-06-29 08:27] pdp7 commented on #127
@acseckin I've been able to replicate this problem and am investigating.

[2017-06-29 09:49] pdp7 commented on #127
I'm still investigating but I noticed that issue seems to be `/sys/bus/iio/devices/iio:device0/in_voltage1_raw` does not exist run the script is run at boot.  From strace log:
[code]

[2017-06-29 11:01] acseckin commented on #127
I think the uEnv.txt configurations begin little bit after from crontab. How can we wait for enough time?

[2017-06-30 06:50] pdp7 commented on #127
@acseckin I added a delay of 1 second after loading the ADC overlay and that seems to have resolved the issue.  The script does now run OK at bootup.

Here is what I changed:
[code]

For now, I've created a branch `adc-fix` which contains that change as commit 1997b53a26e1ca19eddad56c64c1dfb767838ce4.

I'm looking at if this delay should be moved to the `load_device_tree()`.

[2017-06-30 16:58] acseckin commented on #127
Here is my new message after` python /home/debian/init.py >/home/debian/cronlog.out 2>&1 &`

[code]

[2017-07-01 04:37] pdp7 commented on #127
@acseckin Could you paste the output of `uname -a`?  @RobertCNelson recently told me there was an ADC bug that could could cause the buffer overlow error and it was fixed in newer kernel.

Please run `/opt/scripts/tools/update_kernel.sh`

[2017-07-01 05:40] pdp7 commented on #127
@acseckin Please run this to upgrade to the latest 4.9 kernel build by @RobertCNelson:
`/opt/scripts/tools/update_kernel.sh --lts-4_9`

This is the ADC fix that I referenced above:
https://github.com/RobertCNelson/ti-linux-kernel/commit/dca02651cee78260ad9b6f1dce8f40b28367b7e2

[2017-07-01 05:45] pdp7 commented on #127
I've just tried `4.9.35-ti-r44` but unfortunately that does not resolve the issue:

[code]

[code]

[2017-07-01 10:02] acseckin commented on #127
Same results for my settings.

[2017-07-01 10:22] pdp7 commented on #127
@acseckin I've found that delay of 30 seconds resolves the issue.  Add  `time.sleep(30)` before `ADC.setup()` in `init.py`:
[code]

[2017-07-01 11:19] acseckin commented on #127
Thank you a lot. Now it is working. Here are steps as a summary:
1- **run  update**
`/opt/scripts/tools/update_kernel.sh --lts-4_9`
2- **write code** (attached) with `time.sleep()` and
[code]
3- **Edit crontab** of root with `sudo crontab -e -u root` and append this line
`@reboot python /home/debian/init.py >/home/debian/cronlog.out 2>&1 &`
4- **reboot** and working fine.

[2017-07-01 20:26] pdp7 commented on #127
@acseckin great to hear!  OK to close this issue?

[2017-07-01 20:38] acseckin commented on #127
Yes you can close.

[2017-07-03 04:42] #127 closed

[2017-07-04 14:03] skjortan23 commented on #5
This is still e problem in the latest version... i can not get the pull up or downs to work on any gpio pins.

[2017-07-04 14:07] skjortan23 commented on #5
Steps to reproduce.
`
import Adafruit_BBIO.GPIO as GPIO
GPIO.setup('P8_11', GPIO.IN, pull_up_down=GPIO.PUD_UP)
`
meassure on the pin which is still low

[2017-07-05 23:18] pdp7 commented on #5
@skjortan23 Could you let me know which image you are using?
[code]

[2017-07-07 09:30] skjortan23 commented on #5
Thank you for looking into this

ubuntu@11:~$ uname -a
Linux 11 4.4.59-ti-r96 #1 SMP Tue Apr 4 17:50:34 UTC 2017 armv7l armv7l armv7l GNU/Linux/devices/platform
/bone_capemgr/slots
cat /proc/cmdlineubuntu@movoi11:~$ cat /etc/dogtag
rcn-ee.net console Ubuntu Image 2017-04-07
ubuntu@11:~$ cat /etc/debian_version
stretch/sid
ubuntu@i11:~$ cat /sys/devices/platform/bone_capemgr/slots
 0: PF----  -1
 1

[2017-07-08 00:49] pdp7 commented on #5
@skjortan23 would you be able to try the most recent [Debian Jessie image from BeagleBoard.org](http://beagleboard.org/latest-images) to check if this issue still occurs?  h

[2017-07-09 05:23] fragrans opened #150 "Terminating one python/Adafruit_BBIO process, kills all other python/Adafuit_BBIO processes"
I want to use different python/Adafruit_BBIO scripts to control different board IOs.
I have two scripts, and I can start them well, one by one.
But when I terminate one of the scripts with CTRL+C; the other will die silently too.
 - os-release
PRETTY_NAME="Debian GNU/Linux 7 (wheezy)"
NAME="Debian GNU/Linux"
VERSION_ID="7"
VERSION="7 (wheezy)"
ID=debian
ANSI_COLOR="1;31"
HOME_URL="http://www.debia

[2017-07-10 05:19] pdp7 commented on #150
Could you please post the source code for the two Python program that you are running?

Also, I'd like to know more about what is installed on your BeagleBone.  Please paste the output of:
`uname -a`
`cat /etc/debian_version`
`cat /etc/dogtag`
`cat /boot/uEnv.txt`
`cat /proc/cmdline`
`cat /sys/devices/platform/bone_capemgr/slots`

[2017-07-11 02:35] DarioushK1 commented on #125
Hi @pdp7 ,

I'm new to beaglebone black. I followed up your steps (&Robert Nelson) in building kernel 4.4.ti and now my encoder is working. Also I tried to use Adafruit Ultimate GPS and it is working right now. However every time I have to config-pin P8.11 qep, config-pin P8.12 qep, config-pin P9.24 uart and config-pin P9.26 uart before run my codes. Do you have any solution so that eqep2 and uart

[2017-07-11 07:20] pdp7 commented on #125
@DarioushK1 please see this documentation for running config-pin at boot:
https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/doc/run_config-pin_during_startup.md

[2017-07-11 21:11] DarioushK1 commented on #125
@pdp7 Thank you. it worked.

Darioush

[2017-07-13 06:56] pdp7 commented on #5
@skjortan23 could you please post `/boot/uEnv.txt`?

[2017-07-13 08:25] pdp7 commented on #5
I believe I have just tested pull up and pull down OK.

## P8_11 disconnected
[code]

## P8_11 connected to 3.3V
[code]

## P8_11 connected to GND
[code]

## input.py
[code]

## input-pull-up.py
[code]

## input-pull-down.py
[code]

[2017-07-13 12:30] acseckin commented on #127
Hi add this line to uEnv.txt also works

cape_enable=bone_capemgr.enable_partno=BB-UART2,BB-ADC

[2017-07-13 13:15] fabiengagne commented on #5
You may just have picked noise while reading the pin.

Try the procedure documented in post 1.

[2017-07-14 04:30] rob0795 commented on #19
Hello
I want to start programming with Python on my BeagleBone Black but seem to fail due to the next error

`
~# python
Python 2.7.9 (default, Aug 13 2016, 17:56:53)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named Adafruit_BBIO.GPIO
`
I followed a gui

[2017-07-14 13:47] fragrans commented on #150
Sorry for this late reply; I flashed the Black board with debian8; The problem disappeared. It all just works like a charm.
Thanks anyway.

[2017-07-14 15:03] pdp7 commented on #5
@fabiengagne thanks for the suggestion.  I will try it tonight and share my results.

[2017-07-14 15:08] skjortan23 commented on #5
@pdp7 i have not have had the time to test with the latest debian image. I will try this over the weekend.
I have worked around the issue by loading a custom .dtbo file at boot.

[2017-07-15 05:36] pdp7 commented on #19
@rob0795 I see that you've posted on the Adafruit forum and I have just replied there:
https://forums.adafruit.com/viewtopic.php?f=49&t=120373&p=601267#p601267

[2017-07-15 05:37] #150 closed

[2017-07-15 07:59] pdp7 commented on #5
I used `config-pin` to set the pinmux on `P8.16` and measured the voltage:
[code]

Do you get the same results?

[2017-07-15 08:08] pdp7 commented on #5
Here the results when running the script below:
* `P8_16 set to pull down mode`
   * 0.002 V from P8.16 to ground
* `P8_16 set to pull up mode`
   * 3.208 V from P8.16 to ground
* `P8_16 disabled internal resistor`
   * 0.7046 V from P8.16 to ground

## gpio-test.py
[code]

[2017-07-15 11:00] fabiengagne commented on #5
Thanks. It really appears to be fixed. If we all agree, we shall close this issue.

[2017-07-28 18:54] MarkAYoder opened #151 "BeagleBone Blue naming convensions"
Is anyone updating the Adafruit Python library for the Blue?

[2] doesn't appear to have any definitions for the Blue's connectors.

For example, GPIO1_17 appears on the Black at P9_23.  On the Blue it appears on pin 4 for the GP0 header[3].

Should this be referred to as GP0_4 since it's pin 4, or should it be GP0_2 since it's the second IO pin on the header, or maybe GP0_1 is we should start num

[2017-08-01 15:49] #5 closed

[2017-08-06 18:02] pdp7 commented on #151
@MarkAYoder Thanks for creating this issue.  Unfortunately, I'm traveling right now, but I will review and respond when I'm back home on Thursday (Aug 10).

[2017-08-12 20:27] pdp7 commented on #151
@MarkAYoder I'm working on resolving a regression in PR #152 and will review this once I have resolve that issue.

[2017-08-16 09:07] elfgoh opened #154 "Installation of Adafruit_BBIO fails"
If you're sure this issue is a defect in the code and checked the steps above
please fill in the following fields to provide enough troubleshooting information.
You may delete the guideline and text above to just leave the following details:

- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  **Linux beaglebone 4

[2017-08-16 18:37] pdp7 commented on #154
@elfgoh thanks for reporting.  I'll attempt to reproduce this and determine the cause of the issue.

[2017-08-17 05:20] elfgoh commented on #154
Sorry I am closing this issue as this was an error on my part

[2017-08-17 05:20] #154 closed

[2017-08-17 06:02] pdp7 commented on #154
thanks for following up

[2017-08-21 08:44] PeteLawler opened #155 "Enhancement: SHT1x support"
Doug Rohm has a [Raspberry Pi SHT1x library](https://github.com/drohm/pi-sht1x) and I'm looking at porting it. If someone beats me to it, I'm not going to complain :)

So far, I've got a fork [over on Gitlab](https://gitlab.com/petelawler/plaw-bbb-sht1x) but it just struck me now that instead of being a separate library it should probably be done inside the adafruit beaglebone library itself.
On t

[2017-08-21 18:10] pdp7 commented on #155
@PeteLawler  Thanks for bringing this up.

I'm not opposed to adding support directly in this repo, but I think it might be as it's own repo.  I think =[Adafruit_Python_DHT](https://github.com/adafruit/Adafruit_Python_DHT) would be a good model for it:

@tdicola what do you think?

[2017-08-21 21:54] PeteLawler commented on #155
@pdp7 ah hmm that certainly makes more sense, at least modelling after that library if not having a combined DHT/SHT.

[2017-08-21 21:54] #155 closed

[2017-08-23 07:49] pdp7 opened #156 "GPIO TIMERn syntax is not working on newer kernels"
As discovered in PR #152, TIMERn syntax is not working on newer kernels such as 4.4.

This is a valid path:
`/sys/devices/platform/ocp/ocp:P8_10_pinmux/state`

while this path is invalid:
`/sys/devices/platform/ocp/ocp:TIMER_pinmux/state`

[2017-08-23 08:07] pdp7 commented on #156
FYI - the test of `GPIO.setup("TIMER6", GPIO.IN)` has been in `test/test_gpio_setup.py` for years (9903992a5fe6530e13a865d2a1b24ad59372b299).

[2017-08-23 08:11] pdp7 commented on #156
Upon further review, I'm going to close this as I don't believe there is any usage of the `TIMERn` key for GPIO pins and it would be odd for someone to prefer to a pin by that name.

[2017-08-23 08:11] #156 closed

[2017-08-23 08:19] pdp7 commented on #151
@MarkAYoder is there a reason that you switch the default build to python3 in commit https://github.com/adafruit/adafruit-beaglebone-io-python/pull/153/commits/b01fb01196ddcd5ec71d923ad83d1fab594f1f2d ?

[2017-08-23 20:48] pdp7 commented on #151
@MarkAYoder ok, no problem.  I'll just revert the change to the build default in
 https://github.com/adafruit/adafruit-beaglebone-io-python/commit/b01fb01196ddcd5ec71d923ad83d1fab594f1f2d

[2017-08-23 21:37] pdp7 commented on #151
I'm actually going to leave the Makefile as is per b01fb01.  I don't think the change of "make all" to python3 should cause any problems.

[2017-08-23 21:38] #151 closed

[2017-08-23 21:39] pdp7 commented on #122
I merged my work-in-progress (WIP) for rotary encoder support with eQEP in Pull Request #149.

@theonteg any feedback on what I've created so far?

[2017-08-23 21:54] pdp7 opened #157 "Support new GPIO character device interfce"
Linux kernel gpio subsystem maintainer Linus Walleij presented GPIO descriptors in this presentation:
* Video: [GPIO for Engineers and Makers](https://www.youtube.com/watch?v=lQRCDl0tFiQ)
* Slides: [GPIO for Engineers and Makers](http://elinux.org/images/9/9b/GPIO_for_Engineers_and_Makers.pdf)

Linus W. details kernel-external API changes:
- `/sys/class/gpio` sysfs interface is marked as deprecate

[2017-08-23 22:00] pdp7 opened #158 "set pin modes for UART"
Use `set_pin_mode()` to ensure pinmux is correct for UART peripheral before using.

NOTE: GPIO and PWM already call `set_pin_mode()`

[2017-08-23 22:02] pdp7 commented on #158
Work-in-progress (WIP) in branch [config-pin](https://github.com/adafruit/adafruit-beaglebone-io-python/commits/config-pin). Most recent commit: https://github.com/adafruit/adafruit-beaglebone-io-python/commit/b92608458e2122f40901b6d5af74dcf11e9c2c02

[2017-08-24 18:51] theonteg commented on #122
I'm sorry, but I have burned my board and until I replace it I won't be able to check...

Thanks for the implementation though, although I workaround it by reading direct from the paths provided I can't wait to check BBIO!

[2017-08-26 06:12] alpintrekker opened #159 "Porting to am437x"
Hello,

I'm interested porting GPIO, and only GPIO module to Dabian Jessie, running on am437x.

Since ther is no overlay support here at all, I don't need overlays, and any IO, other GPIO going to be handled by native python modules.

Do I consider correctly, that the task of porting would be limited to editing **pin_t table** in [common.c](https://github.com/adafruit/adafruit-beaglebone-io-python

[2017-08-26 15:29] pdp7 commented on #159
@alpintrekker I've not used AM437x SoC before.  Which board do you have?

[2017-08-26 20:34] alpintrekker commented on #159
@pdp7 this is [CM-T43 from CompuLab](http://www.compulab.com/products/computer-on-modules/cm-t43/#devres) on their development board, SB-SOM, but it is the same Sitara family like AM335x on BeagleBone (where I used to use Adafruit_BBIO.GPIO), except it has a reasonably better set of peripherals and a bit higher price tag in low volumes.

[2017-08-28 01:25] pdp7 commented on #159
@alpintrekker  I imagine you will need to change `pwm_table[]`  and ` table[]` in `common.c`.   I suspect the the memory map addresses for peripherals may be different and therefore exact paths in /sys may differ.  The device tree source files for your board should provide insights on what values to use.

[2017-08-31 08:35] sayanee opened #161 "Adafruit_BBIO pip3 install fails in Beaglebone, but passes for version 1.0.3"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  Beaglebone

- Python version (run `python -version` or `python3 -version`):  Python 3.4.2

- Error message you are receiving, including any Python exception traces:

[code]

- List the steps to reproduce the problem below (if possible attach code or commands
  to

[2017-08-31 18:21] pdp7 commented on #161
Thanks for reporting @sayanee.  I'll get that fixed.

[2017-09-01 03:24] pdp7 commented on #161
This print syntax error was fixed in https://github.com/adafruit/adafruit-beaglebone-io-python/commit/538e564ad9ca1b56d7d934484753bf303df23a04

Was Adafruit_BBIO 1.0.4 being used?

[2017-09-01 04:18] pdp7 commented on #161
I've created release https://github.com/adafruit/adafruit-beaglebone-io-python/releases/tag/1.0.5

[2017-09-01 11:07] sayanee commented on #161
thank you @pdp7! I will test it out with the new release by next week.

[2017-09-06 01:43] PeteLawler opened #162 "Attempting to use TIMER4/P8_7 as GPIO doesn't"
Just trying to use TIMER4/P8_7 as a GPIO to operate a relay and it no longer sets up.

gpio_set_value: 66 couldn't open '/sys/class/leds/red/brightness'

    GPIO.setup(pinNum, GPIO.OUT)
ValueError: Set gpio value failed, missing file or invalid permissions.

The file is certainly missing, however I'm at a bit of an immediate loss as to why, on the latest release, this has apparently become a red

[2017-09-06 01:49] PeteLawler commented on #162
Wait hang on... I think I'm getting a bunch of other unexepects now that I wasn't before hmm obviously I've changed something else I shouldn't have...

[2017-09-06 01:58] PeteLawler commented on #162
*wanders off reading 1.0.4 changelog oops*

[2017-09-06 01:58] #162 closed

[2017-09-11 08:50] pdp7 commented on #157
Information on when these gpiolib features were merged into the kernel:

### gpio: add a userspace chardev ABI for GPIOs
* commit `3c702e9987e26
* `[GIT PULL] GPIO bulk changes for kernel v4.6` (Mar 17, 2016)
* ioctl
  * GPIO_GET_CHIPINFO_IOCTL

### gpio: add userspace ABI for GPIO line information
* commit `521a2ad6f862a`
* `[GIT PULL] GPIO bulk changes for kernel v4.6` (Mar 17, 2016)
* ioctl
  *

[2017-09-13 12:37] tomek242 commented on #103
Hello folks.
Maybe You help me with my problem.
I try to build simply mobile robot based on this project:
http://myroboticadventure.blogspot.com/2014/05/my-first-working-robot-its-alive.html
I use Debian 7.11 with standard kernel and standard Adafruit I/O library taken from here:
https://learn.adafruit.com/setting-up-io-python-library-on-beaglebone-black/installation-on-ubuntu
When I try to wrote

[2017-09-21 22:35] luizfschrickte opened #164 "gpio_set_value considering invalid LEDs file descriptors on BBBlack (valid only on BBBlue)"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  Beaglebone Black with debian 9

- Python version (run `python -version` or `python3 -version`):  python 2.7.13

- Error message you are receiving, including any Python exception traces:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
Val

[2017-09-21 22:39] luizfschrickte commented on #164
Sorry, just noted the problem was already being handled.

[2017-09-21 22:39] #164 closed

[2017-09-22 20:04] craigw76 opened #165 "Set gpio mode failed, missing file or invalid permissions on GPIO.setup"
Running a Beaglebone Black. I have just  installed the latest  IoT release from the BeagleBoard page
_bone-debian-9.1-iot-armhf-2017-08-31-4gb_ after corrupting my previous install. I had a python app that was watching a GPIO pin for input. The app failed with the same error, so I pared it down to as simple as I could. Just the import and setup will cause the failure. It has the same failure when

[2017-09-22 20:24] RobertCNelson commented on #165
@craigw76 please run:

[code]
and
[code]

Regards,

[2017-09-22 21:26] craigw76 commented on #165
[code]
[code]

[2017-09-22 21:32] RobertCNelson commented on #165
Hi @craigw76 so you have a very old version of u-boot on your eMMC.

Do you need to keep that data?

If not:

[code]
If you 'need' it, GND P8_43 (same pin that's connected to the BOOT push button)

Then reboot, and try again.

Regards,

[2017-09-22 21:46] craigw76 commented on #165
Hi @RobertCNelson, Thanks! I had my app and data backed up, just not the entire OS. That did it. It seems to work now. I figured it was something simple I'd missed. It seems to be working now.
[code]
[code]

[2017-09-23 03:17] craigw76 commented on #165
@RobertCNelson All seems good now. I'll close this case.

Thanks again

[2017-09-23 03:17] #165 closed

[2017-09-28 00:48] troywweber7 commented on #137
I think the real solution is actually a part of this issue: https://github.com/beagleboard/linux/issues/124

[2017-10-01 22:12] hisham-rumaney opened #166 "SPI not working on beaglebone black debian stretch"
Hi when I run the following test code:

**spi = SPI(0,0)
print(spi.xfer([0x01,0x00]))**

I get these results:
**[[0,0]]**

**My MISO and MOSI pins are connected together using a wire and I am using SPI0 so I am using the corresponding pins**

here are the details of the linux:
**Linux beaglebone 4.9.44-ti-r56**
**PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VER

[2017-10-01 22:15] RobertCNelson commented on #166
@hisham-rumaney please run:

[code]
So we know your kernel/uboot combination..

[2017-10-01 22:17] hisham-rumaney commented on #166
debian@beaglebone:~$ sudo /opt/scripts/tools/version.sh
[sudo] password for debian:
git:/opt/scripts/:[8e0b1e6f135ff3c30468f49a7a952c98be97219a]
eeprom:[A335BNLT0A5C2713BBBK7464]
dogtag:[BeagleBoard.org Debian Image 2017-08-24]
bootloader:[microSD-(push-button)]:[/dev/mmcblk0]:[U-Boot 2017.09-rc2-00002-g84a7f2]
kernel:[4.9.44-ti-r56]
nodejs:[v6.11.2]
uboot_overlay_options:[enable_uboot_overlays=1]

[2017-10-01 22:18] hisham-rumaney commented on #166
debian@beaglebone:~$ sudo /opt/scripts/tools/version.sh
[sudo] password for debian:
git:/opt/scripts/:[8e0b1e6f135ff3c30468f49a7a952c98be97219a]
eeprom:[A335BNLT0A5C2713BBBK7464]
dogtag:[BeagleBoard.org Debian Image 2017-08-24]
bootloader:[microSD-(push-button)]:[/dev/mmcblk0]:[U-Boot 2017.09-rc2-00002-g84a7f2]
kernel:[4.9.44-ti-r56]
nodejs:[v6.11.2]
uboot_overlay_options:[enable_uboot_overlays=1]

[2017-10-01 22:19] hisham-rumaney commented on #166
debian@beaglebone:~$ sudo /opt/scripts/tools/version.sh
[sudo] password for debian:
git:/opt/scripts/:[8e0b1e6f135ff3c30468f49a7a952c98be97219a]
eeprom:[A335BNLT0A5C2713BBBK7464]
dogtag:[BeagleBoard.org Debian Image 2017-08-24]
bootloader:[microSD-(push-button)]:[/dev/mmcblk0]:[U-Boot 2017.09-rc2-00002-g84a7f2]
kernel:[4.9.44-ti-r56]
nodejs:[v6.11.2]
uboot_overlay_options:[enable_uboot_overlays=1]

[2017-10-01 22:21] hisham-rumaney commented on #166
![image](https://user-images.githubusercontent.com/32441335/31059722-8ce6640e-a707-11e7-98a1-d1ee0093e840.png)

[2017-10-01 22:22] RobertCNelson commented on #166
@hisham-rumaney okay u-boot/kernel combination is fine for cape_universal.. @pdp7 adafruit-beaglebone-io just calls' config-pin right? ;)

Regards,

[2017-10-01 22:26] hisham-rumaney commented on #166
I urgently need the SPI to work. Do you have any advice for getting this to work?

[2017-10-01 22:28] hisham-rumaney commented on #166
All if you look at the top part of the image you will see the output of slots

[2017-10-01 22:31] hisham-rumaney commented on #166
if anyone would like to skype to solve this problem that would be amazing

[2017-10-01 22:36] hisham-rumaney commented on #166
I got it to work by using

![image](https://user-images.githubusercontent.com/32441335/31059927-a3b99e42-a709-11e7-9ba5-15f66b1361da.png)

[2017-10-02 00:12] pdp7 commented on #166
@hisham-rumaney thanks for following up and good to see it works.

@RobertCNelson no it does not use config-pin but I believe it should. I had started a [config-pin branch](https://github.com/adafruit/adafruit-beaglebone-io-python/tree/config-pin) and need to continue working on it to fix issues like this. Most recent commit for reference: https://github.com/adafruit/adafruit-beaglebone-io-python/

[2017-10-02 00:13] pdp7 commented on #166
I'll update https://github.com/adafruit/adafruit-beaglebone-io-python/issues/158 as progress continues on that branch

[2017-10-02 00:13] #166 closed

[2017-10-02 02:12] RobertCNelson commented on #166
thanks @pdp7 i really should add a daily "test" to my weekly uptime machines, to verify adafruit-bb-io works on all releases..

if i jumper the spi's, cross a uart rx/tx, and something for pwm, i figure (ecap?). ;)

[2017-10-02 08:36] Rohi23 opened #167 "IOError: [Errno 2] No such file or directory: '/slots'."
Hello ,

I am new to beagle bone.
 I am trying to run pwm program. But getting
 IOError: [Errno 2] No such file or directory: '/slots'.

Below is the program .

import Adafruit_BBIO.PWM as PWM
#PWM.start(channel, duty, freq=2000, polarity=0)
PWM.start("P9_14", 50)

PWM.set_duty_cycle("P9_14", 25.5)
PWM.set_frequency("P9_14", 10)
PWM.stop("P9_14")
PWM.cleanup()

When i run getting below error.

 Fi

[2017-10-02 11:43] RobertCNelson commented on #167
@Rohi23 please run:

[code]

@pdp7 with later u-boot and kernel combinations, the "slots" file is now disabled when running u-boot overlays. (this was changed to stop users from echoing into "slots" and locking up the system)..

So the "bone_capemgr" directory is still there:

[code]
While this file only exists if the old "kernel" overlays method is active (non-u-boot-overlays)
[code]
Regards,

[2017-10-02 12:04] pdp7 commented on #167
Thanks @RobertCNelson

@Rohi23 if `/opt/scripts/tools/version.sh` does not exist, then please paste the output of these two commands:
[code]

[2017-10-02 16:33] silver2row opened #168 "RE: Hello and PWM on BBBW w/ Adafruit_BBIO"
Hello,

**uname -a**: Linux beaglebone 4.9.50-ti-r61 #1 SMP PREEMPT Fri Sep 15 20:10:18 UTC 2017 armv7l GNU/Linux

**Python**: Python 2.7.13 (default, Jan 19 2017, 14:48:08)
                   [GCC 6.3.0 20170118] on linux2

I am using the BBBW for software testing and hardware testing. I am testing a piece of software from the book, "Getting Started with BeagleBone" (Richardson 2014). I am on pag

[2017-10-02 22:35] pdp7 commented on #168
@silver2row  My first guess would be permissions.

How do you invoke the python script?

Ideally, I'd like to have you start it with strace so that the system calls are recorded.  I suspect we'll know what the issue is by seeing which open() or stat() calls fail.

Something like this should do it:
```sudo strace -f -o /tmp/strace.log python ./name-of-your.py```

[2017-10-03 00:34] silver2row commented on #168
Okay...I am going to get to work soon with the listed commands. If I come across issues, I will get back to you.

Seth

[2017-10-03 00:40] silver2row commented on #168
Hello Sir,

Seth here. I do not have strace. Oh and I use the sudo python taco.py to run my .py files so far.

Seth

[2017-10-03 01:00] silver2row commented on #168
https://github.com/strace/strace/blob/master/INSTALL is what I found so far for strace. If you want me to download it, I can.

Seth

P.S. If you can figure this out by ptrace or strace, that is okay with me. Just give me the go-ahead and I will get it and go with the flow.

[2017-10-03 02:33] silver2row commented on #168
@pdp7

Someone just me of how the capemgr works and I am trying it now. I will get back to you soon.

Seth

[2017-10-03 02:50] pdp7 commented on #168
@silver2row Please run this command to install strace:
```sudo apt-get install strace```

[2017-10-03 02:52] silver2row commented on #168
@pdp7

I invoke python by:
**sudo python taco.py**

I tried strace and this happened:
  **File "./LED-door.py", line 6, in <module>
    PWM.start("P8_13", 0.0)
RuntimeError: Problem with a sysfs file**

version.sh:

**git:/opt/scripts/:[ec0819e303842004ef1f1bd6c2339929c54eb6fd]
eeprom:[A335BNLTBWA51650BBWG2883]
dogtag:[BeagleBoard.org Debian Image 2017-09-17]
bootloader:[eMMC-(default)]:[/dev/mmcb

[2017-10-03 03:03] pdp7 commented on #168
@silver2row Please run this command to install strace:
```sudo apt-get install strace```

Then run this:
```sudo strace -f -o /tmp/strace-taco.txt python taco.py```

This should create the file` /tmp/strace-taco.txt`.  Please paste the contents of that file into a new [GitHub Gist](https://gist.github.com) and include the link here.

[2017-10-03 03:25] silver2row commented on #168
@pdp7

Hello...how do I get all that info. copied to get it to the GitHub Gist?

Seth

P.S. If I need to find out, I will search while you take time out to reply.

[2017-10-03 03:47] silver2row commented on #168
Hello,

I am on line 300 and at 3%. Are you sure this is the step we need to take?

Seth

[2017-10-03 04:07] Rohi23 commented on #167
Hi pdp7.

Not able to execute
sudo /opt/scripts/tools/version.sh

Below is the output.

root@beaglebone:~# uname -a
Linux beaglebone 4.4.9-ti-r25 #1 SMP Thu May 5 23:08:13 UTC 2016 armv7l GNU/Linu                                                                                                                     x
root@beaglebone:~# cat /etc/dogtag
BeagleBoard.org Debian Image 2016-05-13
root@beagl

[2017-10-03 04:20] silver2row commented on #168
Hello Again,

I have over 7500 lines yanked in VIM and I cannot load any of them in the GitHub Gist.

Seth

[2017-10-03 06:05] pdp7 commented on #167
@Rohi23  that 2016-05-13 image is a bit old at this point.  Please download the latest image (Debian 9.1 2017-09-21 4GB SD IoT image) from http://beagleboard.org/latest-images

[2017-10-03 06:06] pdp7 commented on #168
@silver2row The lines of interest are those that relate to accessing the `/sys` filesystem.  Please run this command:
```grep /sys/ /tmp/strace-taco.txt ```
and paste the output into a gist.

[2017-10-03 14:49] silver2row commented on #168
Hello @pdp7,

This should be it. If you think I made an error, please let me know. https://gist.github.com/silver2row/0c5df8619b0f66606f019301ceda13d9

Seth

[2017-10-03 17:27] pdp7 commented on #168
@silver2row Thanks that is what I was interested in.  However, I did not appear that there are any errors as I had been expecting to see.

I'd like to rule out issue with the pin mode.  Please run this command which should verify the mode that P8_13 is set to:
```config-pin -q p8.13```

This will set p8.13 mode to pwm:
```config-pin p8.13 pwm```

@robertcnelson any ideas?  I'm thinking might be a

[2017-10-03 21:31] silver2row commented on #168
@pdp7

Hello Again,

    config-pin -q p8.13
...shows on my terminal this: P8_13 Mode: default Direction: in Value: 0

    config-pin p8.13 pwm
...I run this cmd. I get back this when I run my software as sudo python LED-door.py

**Traceback (most recent call last):
  File "LED-door.py", line 6, in <module>
    PWM.start("P8_13", 0.0)
RuntimeError: Problem with a sysfs file**

If you have any othe

[2017-10-05 08:13] tomek242 opened #169 "Problems with my BeagleBone Black PWM."
Hello everyone.
I have a big problem with my BBB. I try to use my board to simple tracking robot with DAGU Rover 5 chassis and DAGU motor driver board but... whatever version of debian i try to use, I see the same errors:
RuntimeError: You must start() the PWM channel first; or
ehrpwm error - duty is larger than period; or
RuntimeError: Problem with /sysfs.
Of course i try to use [THIS](url) solut

[2017-10-06 01:38] silver2row commented on #169
Hello tomek242,

My name is Seth. I just published a concern with similar instances of PWM not working. I get the RuntimeError: Problem with sysfs, too.

I tried a handful of resources and asked around. I could not get the PWM to start in working order for my software.

My software is from #168. I get the sysfs entry error and I have tried bone_capemgr, overlays, and config-pin <my pin number> pwm

[2017-10-06 04:51] silver2row commented on #168
Hello,

I changed a direction file in /sys/class/gpio/gpio23 and another file called uevent in the same directory. I was unable to change the value file in the same directory.

I came across the same issue. So, I have figured out that the issue, if not "value," is in another directory.

Seth

P.S. I want to figure out exactly what /sys/fs file is creating issues. I am going to look into this furth

[2017-10-06 05:02] silver2row commented on #168
Hello Again,

I found some more files that will not allow me to write. They are not writeable for some reason. For example: cd /sys/fs/btrfs/features brings me to a set of files that I can change but the issue is that I cannnot. I want to change extended_iref to 0 instead of having it at 1.

Seth

P.S. Even with sudo as my argument cmd on the terminal, permission is denied. Are there special permi

[2017-10-06 06:17] silver2row commented on #168
Hello,

I found some info. from kernel.org about those files and directories.

I think this is better left to some very experienced programmers in C++ or whatever. I do not know enough, as is, to go further.

Seth

P.S. If one day I learn some, I will return service.

[2017-10-06 08:05] tomek242 commented on #169
Hello Seth.

Unfortunately, until now I have not been able to solve these problems. That's why I wrote about my issue here. Perhaps one of the developers has done it and is working properly.
Greetings.

[2017-10-08 16:19] pdp7 commented on #168
@silver2row hello, sorry for my delayed response.  Is this still an issue?   Please let me know and I will continue to investigate and followup with you.  Thanks.

[2017-10-08 16:35] pdp7 commented on #169
@tomek242 sorry for my delayed response.

I'd like to get some information about what is currently running on your BeagleBone. **Please paste the output of the following commands:**
[code]

_FYI: Adafruit_BBIO (this library) no longer supports the Angstrom images.  The official BeagleBoard.org image has been Debian-based since 2014.  For more info: [BeagleBoard.org Latest Images](http://beagleboar

[2017-10-08 17:00] pdp7 commented on #168
@silver2row I have not yet tried to fully reproduce your setup.  Did you type in the code from Matt's book?  Or were you able to download the source code from somewhere?

[2017-10-08 17:01] pdp7 commented on #168
@silver2row my apologies for overlooking this earlier, but I see that you are running the Linux 4.9 kernel.  I believe there is a regression that is preventing PWM from working properly with Adafruit_BBIO.  I need to investigate and resolve that issue.

**Please try installing the Linux 4.4 kernel instead with these instructions:**
[code]

[2017-10-08 17:09] pdp7 commented on #169
@tomek242 I just posted about this to @silver2row in #168.  I believe there is problem with using PWM with the Linux 4.9 kernel and Adafruit_BBIO.  I need to investigate and resolve that issue.

In the meantime, please ensure that you are running the Linux 4.4 kernel.

**Please try installing the Linux 4.4 kernel instead with these instructions:**
[code]
The above presumes that you are using an [o

[2017-10-08 17:21] pdp7 commented on #167
@Rohi23 are you still having an issue?  Please let me know.  Thanks.

[2017-10-08 17:22] pdp7 opened #170 "Adafruit_BBIO PWM does not work Linux 4.9 kernel"
## Issue
**Adafruit_BBIO PWM does not work Linux 4.9 kernel.**

I will update with more information about the issue and my progress as I work towards resolution.  I wanted to quickly log an issue so that the problem is visible to everyone.

## Workaround
**Use the Linux 4.4 kernel**
[code]

[2017-10-08 17:32] silver2row commented on #170
Hello Sir,

Thank you for adopting this issue. I will stay patient.

Seth

[2017-10-08 17:44] pdp7 commented on #170
@silver2row please try switching to the Linux 4.4 kernel.  The issue with Flask and GPIO described in #168 may be unrelated but I'd like to eliminate this Linux 4.9 kernel issue from your situation.

[2017-10-08 17:45] silver2row commented on #168
Hello,

I was using kernel 4.9.x. I can try the 4.4.x kernel, I guess. Oh and yes sir, I got the book reference directly out of the book.

Seth

P.S. I hope all goes well with your search to resolve this PWM issue with 4.9.x. If you need any support on reading documents, please let me know.

[2017-10-08 17:48] tomek242 commented on #169
Hello pdp7. I just worked with Debian 8.3
4.1.15-ti-rt-r43 #1 SMP PREEMPT RT Thu Jan 21 20:13:58 UTC 2016 armv7l GNU/Linux
taken from [THIS link](url).

At this time thath the only image when my test program realy work. When i tape:
`root@beaglebone:~# cat /sys/devices/platform/bone_capemgr/slots`
I take this:
`0: PF----  -1
 1: PF----  -1
 2: PF----  -1
 3: PF----  -1
 4: P-O-L-   0 Override Boar

[2017-10-08 19:27] tomek242 commented on #169
Ok. I was install 4.4 lts kernel and this is result:

Code:
`import Adafruit_BBIO.PWM as PWM
myPWM="P9_16"
PWM.start(myPWM, 0, 1000)
for i in range(0,5):
    DC=input("What Duty Cycle Would You Like (0-100)? ")
    PWM.set_duty_cycle(myPWM, DC)
PWM.stop(myPWM)
PWM.cleanup()`

Takes effect:
`python test2.py
[  183.195393] ehrpwm 48302200.pwm: Period value conflicts with channel 0
Traceback (most re

[2017-10-09 00:51] silver2row commented on #170
Hello Sir,

Seth here. I tried to run that software on kernel 4.4.x and I received all sorts of issues.

Seth

P.S. I am currently dealing with the Flask people on GitHub.com.

[2017-10-09 06:24] tomek242 commented on #169
BTW question: wow to paste correctly program code here? Mine as You see is linear and didnt looks well.

[2017-10-09 18:38] Altantsooj opened #171 "Adafruit_BBIO PWM does not work P9_22 and P9_42."
Adafruit_BBIO PWM does not work P9_22 and P9_42. (ECAPPWM0, ECAPPWM2) How can i solve that? Help me pls.

[2017-10-09 18:41] Altantsooj commented on #171
I need 8 PWM port need. But just 6 PWM working...

[2017-10-09 21:10] silver2row commented on #170
Hello,

I set up a question on Stack Overflow: https://stackoverflow.com/questions/46654985/re-how-can-i-get-flask-to-use-gpio-pins-to-change-the-led-brightness-on-linux-w.

Seth

P.S. If you are interested in looking at what has happened so far, go ahead. The link is listed above.

[2017-10-09 21:11] silver2row commented on #171
Hello,

Do you have kernel 4.9.x?

Seth

P.S. See here: #170.

[2017-10-10 08:30] tomek242 commented on #169
Any suggestions folks? :)

[2017-10-10 14:48] pdp7 commented on #171
@Altantsooj I'd like to get some information about what is currently running on your BeagleBone.

**Please paste the output of the following commands:**
[code]

[2017-10-10 14:52] pdp7 commented on #170
@silver2row

Please paste the any errors or warning here so that I can them.

[2017-10-10 17:15] Altantsooj commented on #171
root@beaglebone:~# cat /etc/dogtag
BeagleBoard.org Debian Image 2017-09-21

root@beaglebone:~# cat /etc/debian_version
9.1
root@beaglebone:~# cat /proc/cmdline
console=ttyO0,115200n8 bone_capemgr.uboot_capemgr_enabled=1 root=/dev/mmcblk1p1 ro rootfstype=ext4 rootwait coherent_pool=1M net.ifnames=0 quiet

root@beaglebone:~# cat /sys/devices/platform/bone_capemgr/slots
cat: /sys/devices/platform/bon

[2017-10-10 17:17] Altantsooj commented on #171
Sorry my mistake. ECAPPWM2 on P9_28. NOT P9_22.

[2017-10-10 17:34] RobertCNelson commented on #171
@Altantsooj

P9.28 is hdmi-audio, in /boot/uEnv.txt add:

disable_uboot_overlay_audio=1

then reboot and try again.

Regards,

[2017-10-11 01:06] silver2row commented on #169
Hello,

If I use the resistor to limit current, there is still current going through it at another spot on the breadboard. If I was to add additional requirements, normally open window sensor and other resistors, I could come across an issue with supply.

Power may become an issue.

Seth

P.S. I may need more voltage, i.e. 5v or higher with the correct digital equipment.

[2017-10-11 01:07] silver2row commented on #169
We may be seeing issues with power on our boards when attempting to write the software and have it produce the correct results.

Seth

[2017-10-11 01:09] silver2row commented on #169
Hello Again,

The Motor Driver probably needs to be powered separately from you BBB.

Seth

[2017-10-11 01:13] silver2row commented on #171
Hello Alt,

Seth here. Hey, you may need more power. I do not know what set-up you have but I think my set-up does not work due to power constraints.

Seth

P.S. I tried the set-up and software to the "T" and changed things over and over. Power must be the issue. Try supplying 5v instead of 3.3v. This may work.

[2017-10-11 01:31] silver2row commented on #170
Hello...power constraints @pdp7 .

Sorry. I feel bad now. I was trying to power everything, one sensor and an LED, with the 3.3v. I think your Adafruit_BBIO works and actually, I know it does.

I am foolish at times and forgot about power issues.

Seth

P.S. I am very sorry. Please forgive me.

[2017-10-11 03:54] pdp7 commented on #170
@silver2row Thank you for making me take a closer look at PWM.  There is a real bug with PWM in Adafruit_BBIO on Linux 4.9 kernel.  I am able to reproduce it and will post more details here soon.

[2017-10-11 06:45] tomek242 commented on #169
Hello Seth.

I think it does not matter beacause logic level cames from BBB to driver has maybe (cirka) 3,3V not more so I think thats not a problem.
Personally i powered my board and BBB separately each from another source (two DC - DC converters with power distribution boards one for 12V, for motors and the second for 5V for board logic).
However The BBB use 5V logic (As I think remember). So if

[2017-10-11 11:40] silver2row commented on #169
Okay...thank you for your input.

Seth

[2017-10-11 17:10] tomek242 commented on #169
Hello everyone.
Today i was test Debian image:
Linux beaglebone 4.4.72-bone-rt-r17 #1 PREEMPT RT Fri Jun 16 16:48:24 UTC 2017 armv7l GNU/Linux

And this is result for code:
import Adafruit_BBIO.PWM as PWM
import time

pin1 = "P9_14"
pin2 = "P9_16"
pin3 = "P8_19"
pin4 = "P8_13"

PWM.start(pin1,0)
PWM.start(pin2,0)
PWM.start(pin3,0)
PWM.start(pin4,0)

for i in range(0,100):

        PWM.set_duty_cyc

[2017-10-11 17:12] pdp7 commented on #169
@tomek242 Please paste the output of ```cat /etc/dogtag``` so that I know which image you are using.

Also, please use the code formatting button so that the whitespace of python code remains in tact.

[2017-10-11 17:19] pdp7 commented on #169
@tomek242 This test program ran OK for me.
[code]
Please try this test, too:
[code]

[2017-10-11 19:51] RobertCNelson commented on #169
@tomek242

[code]
This menas you don't have cape universal loaded..

For "4.4.72-bone-rt-r17" this i pre-u-boot-overlays

ah, and "2016-06-15" was wheezy, so u-boot overlays is going to be hard to enable, just too much to hack to get up to date..

You'll have better luck just grabbing the latest image from:
https://beagleboard.org/latest-images

which is: Debian 9.2 2017-10-10 4GB SD IoT

Regards,

[2017-10-12 00:45] pdp7 commented on #169
@RobertCNelson thanks

@tomek242 Please try the [current BeagleBoard.org image](https://beagleboard.org/latest-images):
**[bone-debian-9.2-iot-armhf-2017-10-10-4gb.img.xz](https://debian.beagleboard.org/images/bone-debian-9.2-iot-armhf-2017-10-10-4gb.img.xz)**

It should have Linux 4.4 kernel installed.  Do not upgrade to the Linux 4.9 kernel as there is a PWM bug (#170)

[2017-10-12 00:47] silver2row commented on #168
![book and flask ii](https://user-images.githubusercontent.com/9708195/31473731-fb64b35c-aebb-11e7-8b09-2de26ca14037.JPG)

This is my error code outside of the Terminal on a Flask debugger screen online at 192.168.7.2:5000.

Here are the error codes on the terminal when using kernel 4.4.x:

     * Running on http://192.168.7.2:5000/ (Press CTRL+C to quit)
     * Restarting with stat
     * Debugge

[2017-10-12 00:48] silver2row commented on #168
Seth

I am using config-pin to address P8_19.
    sudo config-pin p8.19 pwm returns nothing and this is why I thought it worked.

Seth

[2017-10-12 01:09] silver2row commented on #168
Hello @pdp7 ,

Seth here. I am starting to get that idea, the Flask application on Python with the BBB running Adafruit_BBIO for pin support, working. I just needed to setup GPIO after calling it from XXX as XXX and so on.

My software needs some fine tuning but for now, everything is back working.

Seth

P.S. I am using kernel 4.4.x and some software, that I changed sort of, from that Richardson

[2017-10-12 01:28] silver2row commented on #169
Hello Tomek,

I got the PWM and GPIO working on kernel 4.4.x. I am going to test the 4.9.x kernel now.

Seth

P.S. Pastebin you software or send it on this board with spacing each line four times. This way it will be easier to read. I will get back to you on what happens with the 4.9.x kernel.

[2017-10-12 01:29] silver2row commented on #171
Forget the Power Constraints,

I got the software to work on kernel 4.4.x. I am updating to kernel 4.9.x and I will return service after checking if the software works. I got GPIO and PWM to work.

Seth

[2017-10-12 01:35] pdp7 commented on #168
@silver2row yes, `GPIO.setup("P8_11", GPIO.IN)` is needed before `GPIO.input("P8_11")`.  I've added the `GPIO.setup()` before `app.run()`:
[code]

Here is general example of GPIO input:
[code]

[2017-10-12 01:37] pdp7 commented on #168
@silver2row using the flask program above, here are my results:
[code]

[2017-10-12 01:48] pdp7 commented on #168
@silver2row please try running these commands and  then start you flask server:
[code]

[2017-10-12 01:50] silver2row commented on #168
Alright @pdp7 ,

I will run those commands in a bit. I upgraded back to 4.9.x to test things. Without control to write, I would be up S@!&'s creek. Thank you.

Seth

P.S. I got the software to work with the GPIO.setup command.

[2017-10-12 01:53] RobertCNelson commented on #168
@pdp7

permissions on:

[code]
Need:

https://github.com/jadonk/bonescript/issues/156

kernel patch: (currently applied to v4.11.x+ (and ready to back port to v4.9.x/v4.4.x at any time))
https://github.com/RobertCNelson/linux-dev/blob/master/patches/drivers/pwm/0001-pwm-Create-device-class-for-pwm-channels.patch

Regards,

[2017-10-12 01:54] pdp7 commented on #168
@silver2row I'd recommend not using Linux 4.9 kernel for now.  You should be able to get the flask web application running ok with Linux 4.4 kernel.

[2017-10-12 01:57] pdp7 commented on #168
@robertcnelson It is good that there is a path forward.

@silver2row for now, please stick with Linux 4.4 kernel.  Once I resolve #170, you should then be able to use Linux 4.9

[2017-10-12 02:01] silver2row commented on #168
Okay @pdp7 ,

I will "downgrade" back to kernel 4.4.x.

Seth

P.S. The server works. I can change the brightness of the LED with address bar commands and find out if my door is open or closed and finally, receiving the e-mail after the alloted 25 seconds if the door is left open.

[2017-10-12 06:41] tomek242 commented on #169
Hello All.
All right today i will check bone-debian-9.2-iot-armhf-2017-10-10-4gb.img.xz
Is that debian has some GUI?

[2017-10-12 06:53] pdp7 commented on #169
@tomek242 Yes, try this image: [Debian 9.1 2017-08-31 4GB SD LXQT](http://debian.beagleboard.org/images/bone-debian-9.1-lxqt-armhf-2017-08-31-4gb.img.xz)

[2017-10-12 07:50] tomek242 commented on #169
Ok Thanks, i try it when i back from work. :)

[2017-10-12 13:51] randyrossi opened #172 "Add support for the PocketBeagle"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  BeagleBone Pocket

- Python version (run `python -version` or `python3 -version`):  N/A

- Error message you are receiving, including any Python exception traces: N/A

- List the steps to reproduce the problem below (if possible attach code or commands
  to run):

[2017-10-12 14:14] pdp7 commented on #172
@randyrossi Thanks for opening this issue.  Support for the PocketBeagle has not been added yet.  I'm not able to give a good estimate right now as to when I will be able to implement it.  However, I would be happy to review any pull requests.

[2017-10-12 20:48] tomek242 commented on #169
Hello Everyone.
Last Debian Image short raport:

After install adafruit-beaglebone-io-python

root@beaglebone:~# uname -a
Linux beaglebone 4.4.91-ti-r133 #1 SMP Tue Oct 10 05:18:08 UTC 2017 armv7l GNU/Linux

Important (As I think) - both of this codes seems work properly once time always after reset :) Well, some little succes:) But not enough for series projects :)

First test result:

Code:
impo

[2017-10-13 00:40] pdp7 commented on #169
@tomek242 thanks for following up with additional information.
**Are you running the Python as root with sudo?**

[2017-10-13 04:16] silver2row commented on #171
Hello Again,

I got put back to kernel 4.4.x. I got Adafruit_BBIO to work. I had to change up the software some but in the end, it worked for this specific kernel.

Seth

P.S. If you need help at all, drop me a line. Later for now.

[2017-10-13 04:19] silver2row commented on #169
Hey Everyone,

I thought we had to do this and then functionality to PWM:

    import Adafruit_BBIO.GPIO as GPIO
    import Adafruit_BBIO.PWM as PWM
    import time

and then...the fancy stuff.

If I am wrong, sorry for butting in again.

Seth

[2017-10-13 05:07] pdp7 commented on #171
@Altantsooj were you able to try @RobertCNelson's instructions?

[2017-10-13 05:42] tomek242 commented on #169
pdp7 - Drew i used both method to typing commands:
from user account [user: debian / password: temppwd] with sudo command,
and from root account [user: root / password: root] (sudo its not neccesary in this case).

Seth In Python you must import library first (Adafruit) and then fancy stuff. Maybe other languages has diffirent solution.

[2017-10-13 06:17] pdp7 commented on #169
@tomek242 I ran this code:
[code]
and recieved the same error:
[code]

I then ran it with strace:
[code]

These lines are of interest:
[code]

It appears the issue is writing `500000` to `/sys/devices/platform/ocp/48302000.epwmss/48302200.pwm/pwm/pwmchip3/pwm0/period` returns `-1 EINVAL (Invalid argument)`

@RobertCNelson  any ideas?

[2017-10-13 06:49] tomek242 commented on #169
pdp7 my project was described here
[http://myroboticadventure.blogspot.com/2014/05/my-first-working-robot-its-alive.html](url)
but in my case i planned to use 4 drive chassis with four encoders and diffirent, other autonomous system to drive my project.
A ask author about my problem but He don't answer my question for some other reason. Anyway as You can see They use only simple stock Angstrom Lin

[2017-10-13 07:18] pdp7 commented on #169
@tomek242 ah, I just realized this error is in `dmesg` corresponding to the failed write to the `period` file:

@RobertCNelson have you seen that issue recently?

[2017-10-13 09:08] tomek242 commented on #169
I think that every Debian image for that board has some errors. :( Using program for one PWM output is cool but unusable in practic projects.

[2017-10-13 18:16] randyrossi opened #174 "I suspect GPO_3 is a typo and should be GP0_3 (numerical 0 instead of capital O)"
https://github.com/adafruit/adafruit-beaglebone-io-python/blob/e981c59c6b080781c493cbb72dae63d330243890/source/common.c#L172

[2017-10-13 18:25] RobertCNelson commented on #174
Correct that should be the number "0"...

[2017-10-13 21:21] silver2row commented on #174
Hello,

Nice catch.

Seth

P.S. Is the Adafruit_BBIO having issues still?

[2017-10-13 21:31] RobertCNelson commented on #174
@silver2row which issue?

v4.9.x/v4.14.x kernels currently need this:

https://github.com/RobertCNelson/adafruit-beaglebone-io-python/commit/c35e4cb98a1f14c85aca7259132bcc97e93d78f8

In some situations u-boot overlays is getting stuck here:

https://github.com/RobertCNelson/adafruit-beaglebone-io-python/commit/4e180c54cfa0193da0b453f31f897d753dd9a4ea

Regards,

[2017-10-14 09:32] silver2row commented on #174
Oh...I was discussing 4.9.x. Okay, understood.

Seth

P.S. @RobertCNelson , I will follow those protocols to get things "cracking." Thank you.

[2017-10-16 11:29] tomek242 commented on #169
Howdy Gentelmen:)
Do You hahe some information or ideas about errosr on BBB?
Greetings.
Thomas

[2017-10-17 14:56] #174 closed

[2017-10-17 14:59] pdp7 commented on #171
@Altantsooj have you tried adding `disable_uboot_overlay_audio=1` to `/boot/uEnv.txt`?

[2017-10-17 15:05] pdp7 commented on #167
@Rohi23 can I close this issue?

[2017-10-17 15:07] pdp7 commented on #168
@silver2row have you tried with Linux 4.4.x kernel?  Can this issue be closed?

[2017-10-17 15:50] RobertCNelson commented on #169
[code]
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/pwm/pwm-tiehrpwm.c?h=v4.14-rc5#n56

PERIOD_MAX=0xFFFF = 65535

Regards,

[2017-10-17 15:51] RobertCNelson commented on #169
[code]

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/pwm/pwm-tiehrpwm.c?h=v4.14-rc5#n56

Regards,

[2017-10-17 16:08] pdp7 commented on #170
Workaround by @RobertCNelson in https://github.com/adafruit/adafruit-beaglebone-io-python/commit/c35e4cb98a1f14c85aca7259132bcc97e93d78f8

[2017-10-17 16:17] pdp7 commented on #169
@tomek242 please try running this command:
```sudo apt update ; sudo apt install bb-cape-overlays --reinstall```

[2017-10-17 16:31] pdp7 commented on #169
@tomek242 if you still have issue after re-installing bb-cape-overlays, then please try this image that @RobertCNelson created on October 15th: [2017-10-15_-_Debian_9_.28Stretch.29_-_Weekly](https://elinux.org/Beagleboard:BeagleBoneBlack_Debian#2017-10-15_-_Debian_9_.28Stretch.29_-_Weekly)

And then install the Adafruit_BBIO from `master` branch in this repo.

[2017-10-17 16:36] pdp7 commented on #172
Initial support for PocketBeagle added by @RobertCNelson in #173

[2017-10-17 17:55] RobertCNelson commented on #172
@randyrossi

first image build with this enablement..

https://rcn-ee.net/rootfs/bb.org/testing/2017-10-17/stretch-iot/bone-debian-9.2-iot-armhf-2017-10-17-4gb.img.xz

[2017-10-18 00:15] silver2row commented on #168
@pdp7 I tried 4.4.x and it works just fine.

Seth

[2017-10-18 00:15] #168 closed

[2017-10-18 05:41] pdp7 commented on #169
@tomek242  Please try this new Debian image from @RobertCNelson:
https://rcn-ee.net/rootfs/bb.org/testing/2017-10-17/stretch-iot/bone-debian-9.2-iot-armhf-2017-10-17-4gb.img.xz

[2017-10-18 05:41] pdp7 commented on #167
@Rohi23 please reopen if still an issue

[2017-10-18 05:41] #167 closed

[2017-10-18 05:44] pdp7 commented on #159
@alpintrekker This work by @RobertCNelson  may be of interest if you are still working on porting to different: #173

I am going to close this issue for now.  Please create a pull request if you have made changes to support AM437x.

[2017-10-18 05:44] #159 closed

[2017-10-18 05:46] pdp7 commented on #171
@Altantsooj I am going to close this issue but please re-open if still a problem

[2017-10-18 05:46] #171 closed

[2017-10-18 06:21] pdp7 commented on #170
@RobertCNelson pytest looking pretty good on the new `BeagleBoard.org Debian Image 2017-10-17` image

## pytest
note: install pytest with `sudo pip install pytest`
[code]

## Version:
[code]

[2017-10-18 07:24] pdp7 commented on #170
pytest completes OK now after commit d9be5f9610972493a39cc03b3cd94691c28c46ad

[code]

[2017-10-18 18:58] tomek242 commented on #169
Ok. Results
root@beaglebone:~# uname -a
Linux beaglebone 4.4.91-ti-r133 #1 SMP Tue Oct 10 05:18:08 UTC 2017 armv7l GNU/Linux

Code:

#!/usr/bin/python
import Adafruit_BBIO.PWM as PWM
import time
pin = "P8_14"
PWM.start(pin, 0)
for i in range(0, 100):
        PWM.set_duty_cycle(pin, 100)
time.sleep(.1)
PWM.stop(pin)
PWM.cleanup()

When I try for example P8_16 everything seems good but something is

[2017-10-18 19:27] RobertCNelson commented on #169
@tomek242 you'll need to reboot after updating bb-cape-overlays..  Can you please share "test2.py" and i'll double check the overlays..

Regards,

[2017-10-18 19:46] tomek242 commented on #169
Hello Robert.
Code of "test2.py" it's above:)

import Adafruit_BBIO.PWM as PWM
import time
pin = "P8_14"
PWM.start(pin, 0)
for i in range(0, 100):
PWM.set_duty_cycle(pin, 100)
time.sleep(.1)
PWM.stop(pin)
PWM.cleanup()

[2017-10-18 19:56] RobertCNelson commented on #169
@tomek242 but P8_14 isn't a pwm pin..

[code]
it can be used as "ehrpwm2_tripzone_in"...

Regards,

[2017-10-18 20:00] tomek242 commented on #169
Sorry my mistake, just Im tired:)
Of course I mean pin's P8_13, P8_19, P9_14, P9_16

[2017-10-18 20:10] tomek242 commented on #169
Ok next test for Debian:

Linux beaglebone 4.9.56-ti-r70 #1 SMP PREEMPT Fri Oct 13 14:05:49 UTC 2017 armv7l GNU/Linux

This same code as above:) and result:

Traceback (most recent call last):
  File "test2.py", line 7, in <module>
    PWM.start(pin1,0)
RuntimeError: Problem with a sysfs file

I hope to help my tests a little bit to sove this...
Greetings.

[2017-10-18 20:27] RobertCNelson commented on #169
My logic anayliser has decided to fail on me today, so i've verify the actual P8_13 pin.

[code]
Looks to me, like it's something i already fixed and is in the master repo of this project..

[2017-10-18 20:51] RobertCNelson commented on #169
okay, it took 3 pc's but P8_13 is showing an output, with 4.9.56-ti-r70

https://rcn-ee.net/rootfs/bb.org/testing/2017-10-17/stretch-iot/

[code]

[2017-10-19 00:30] pdp7 commented on #169
@RobertCNelson thanks

@tomek242 please paste the output of this:
`sudo /opt/scripts/tools/version.sh`

also please install the latest version of Adafruit_BBIO from this git repo:
[code]

[2017-10-19 12:08] tomek242 commented on #169
All right today a will check everything.

[2017-10-19 20:38] tomek242 commented on #169
Meantime i check voltage of pins. When i run test code with all pins as I show above a had  3,27V on pins P9_14; P8_19; P8_13, on pin P9_16 I had 4,4mV so its low or unsteadiness state of signal.

When I try to fired up each pin separately I have:
P9_14 - 1,9 mV and sometimes I have 3,27V and sometimes hanging up on this pinout
P9_16 - 4,4 mV and nothing Hi state.
P8_13 - 3,27V and looks good exce

[2017-10-20 03:52] pdp7 commented on #169
@tomek242 Could you please paste the python program with the "Insert Code" button.  I can not tell from above what is supposed to be inside your for loop as there is no indentation:
[code]

[2017-10-20 04:08] pdp7 commented on #169
@tomek242 in regards to your comment above:

I don't understand why you are trying to run that loop 100 times.  The `PWM.set_duty_cycle()` is set to `100` each time so I am not sure what the purpose of the loop is.  If you want to delay a for a longer periond, then just make `time.sleep()` longer.

[2017-10-20 05:22] pdp7 commented on #169
@tomek242 Please also paste the output of this command:
`journalctl |grep python`
There is debugging output from Adafruit_BBIO that may be in the system log.

[2017-10-20 06:03] tomek242 commented on #169
Hello Drew.

I don't understand why you are trying to run that loop 100 times. The PWM.set........

That is because only for test I wrote this little code. How to write in English? - For example I want turn wheel in my robot for 10 seconds so, (if I think propelry) that loop should be do this when i type

for i in range(0, 100):.

Thats another thing.
In this parameter i set only percent of duty t

[2017-10-20 06:13] pdp7 commented on #170
Without @RobertCNelson "hack" fix, odd sequence of events:
[code]

## pwm-polarity.py
[code]

## bash.sh
[code]

[2017-10-20 06:19] pdp7 commented on #169
There should be no need for a `for` loop.  You should be able to set the duty cycle of the PWM pin and then have the Python program sleep for 10 seconds like this:
[code]

That should be the result you get with code like:
[code]

[2017-10-20 07:58] tomek242 commented on #169
All right it's clear for me:) But the problem with the pins remains.

[2017-10-20 16:03] tomek242 commented on #169
Hello All
I was take another test of equipment and simple software tests:

I was try this code for example:
[code]
All pins P8_13, P8_19, P9_14 seems work properly and takes Hi state for 20 seconds, except P9_16 - nothing HI signal.

Really strange things start to happen when i try another code:
Code:
[code]
When I seting up pin on P9_16 and run program, i had HI state on P9_14 but low on pin whic

[2017-10-21 06:59] xaiblaze opened #176 "ls"
Thank you for opening an issue on an Adafruit Python library repository.  To
improve the speed of resolution please review the following guidelines and
common troubleshooting steps below before creating the issue:

- **Do not use GitHub issues for troubleshooting projects and issues.**  Instead use
  the forums at http://forums.adafruit.com to ask questions and troubleshoot why
  something isn't w

[2017-10-21 17:34] silver2row commented on #170
Hello,

I am glad you two are still grinding gears over here. I got caught up w/ the Motor Bridge Cape. Let me know if you or the other fellow need anything. I have time and actually lots of it.

Seth

[2017-10-23 10:26] tomek242 commented on #169
Hello. Any suggestinons guys??

[2017-10-23 12:19] Rohi23 opened #177 "Pocket Beagle Bone Coding"
Hello,

We are developing a gateway  application in pocket beagle bone .

Is it better to build the project in C or Python.

[2017-10-24 00:18] ramgu opened #178 "GPIO regression due to BeagleBone Blue LED support"
- Platform/operating system (i.e. Raspberry Pi with Raspbian operating system,
  Windows 32-bit, Windows 64-bit, Mac OSX 64-bit, etc.):  **Beaglebone Black/Debian 8.9**

- Python version (run `python -version` or `python3 -version`):  **python 2.7.9**

- Error message you are receiving, including any Python exception traces:  **Traceback (most recent call last):
  File "kk.py", line 3, in <module>

[2017-10-24 03:41] pdp7 commented on #169
@tomek242 please run this command which will print out the pinmux state of all pins:
[code]

@RobertCNelson any thoughts on why P9_16 might be an issue?

[2017-10-24 03:43] pdp7 commented on #177
Currently, support for the PocketBeagle is still a work in progress. @RobertCNelson has been contributing but you may not yet want to base a project on using Adafruit_BBIO on the PocketBeagle.

[2017-10-24 03:43] #177 closed

[2017-10-24 03:44] pdp7 commented on #177
You may also want to ask this question on the BeagleBoard.org community mailing list to the perspective of other people, too: https://beagleboard.org/discuss#board_forum_embed

[2017-10-24 03:45] pdp7 commented on #176
@xaiblaze I don't see a description of an issue here.  If you are having a problem with this library, then please reopen this issue and edit the description.

[2017-10-24 03:45] #176 closed

[2017-10-24 03:47] pdp7 commented on #178
Thanks for opening.  This regression from the BeagleBone Blue support and I need to fix the logic.  The solution will be to identify which board Adafruit_BBIO is running on and then handle the pins appropriately.

[2017-10-24 15:11] pdp7 commented on #172
@randyrossi have you been able to try the image that @RobertCNelson linked above?

[2017-10-24 16:40] pdp7 commented on #170
I'm going to follow up with PWM maintainer Boris from Free Eletrons.  Robert suggested I contact him as this does seem to be some sort of regression

https://lwn.net/Articles/683893/

[2017-10-24 16:44] pdp7 commented on #178
I will need to add in logic to check for BeagleBone Blue and PocketBeagle:

**TI AM335x BeagleBone Blue**
[code]
**TI AM335x PocketBeagle**
[code]

[2017-10-24 17:11] tomek242 commented on #169
Hello Drew. Thats my 'output'
[code]

[2017-10-24 20:54] pdp7 commented on #169
@tomek242  it doesn't look like any are set to pwm.

Please run this:
[code]

[2017-10-24 21:17] PeteLawler opened #180 "Fixed length pin string names"
So I'm of the habit that when I'm dealing with numbers or strings of generally a specified length, that I include leading 0's if needs be.

Thus in a numbering scheme where we go from 0 to 99, I'll tend to use 00, 01, 02, 03... etc. up to 99. This can make, if I need to, string manipulation easier.

After a month or two of tracking down a 'bug', I've finally nailed it. Can you see where I'm going?

[2017-10-24 21:28] RobertCNelson commented on #180
@PeteLawler i know @jadonk wants to see these values converted to a mixed case option, with leading/no-leading 0's and mixed symbols: '.','_', etc..

https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L73-L261

and @pdp7 is working on splitting that single table up into a per board table.

Regards,

[2017-10-24 21:35] PeteLawler commented on #180
@RobertCNelson
Fair enough.
I'll see about whether I can come up with some wording for the README or some error handling, or whether I'd prefer just to cower in the corner from guilt and shame and pretend none of the past month of bug hunting ever happened 😭

[2017-10-24 21:38] pdp7 commented on #180
@PeteLawler that does seem awkward to have `P8_7` in the table instead of `P8_07`.
https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/source/common.c#L84
I suppose one way to prevent this issue is to accept both `P8_7` and `P8_07`.
For reference, `P8_07` does seem like the best choice as that is what pinmux helper driver is using:
`/sys/devices/platform/ocp/ocp:P8_07_pinmux`